<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>


<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/myChallenge.css" />
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container-fluid">
			<div class="row">
				<div class="container-fluid section-wrap">
				
					<!-- top profile -->
					<div class="mylibrary-top">
						<div class="container profile-box">
							<div class="col-2">
								<div class="profile-img-box">
									<img alt="프로필" src="/images/myLibrary/profile.png">
								</div>
							</div>
							<div class="col-4 user-info-box">
								<p class="user-info">[[${memberName}]]<span>&nbsp;님의 서재</spans></p>
							</div>
							<div class="col-6"></div>
						</div>						
					</div>

					<!-- 나의챌린지 생성하기 content -->
					<div class="challenge-wrap" >
					
						<div class="container challengeNew-box" th:if="${#lists.isEmpty(challengeItemDtoList)}">
							<div class="challenge-text-wrap">
								<p class="challenge-text"> <strong> [[${memberName}]] </strong> &nbsp;님 나만의 챌린지를 시작해 보세요.</p>
								<div class="challenge-link-wrap">
									<a class="challenge-new-link" href="/myLibrary/myChallenge/new">
										<sapn> 챌린지 생성 <i class="fa-solid fa-circle-plus" style="color: #555555;"></i> </sapn>
									</a>
								</div>
							</div>
						</div>
						
						
						<div class="container challenge-list-box" th:if="${not #lists.isEmpty(challengeItemDtoList)}">
							<div class="challenge-title-box">
								<h4>나만의 챌린지</h4>
								<hr>
							</div>
	
							<div class="challenge-list-wrap" 
									th:each="challengeItemDto, status : ${challengeItemDtoList}" 
									th:if="${#strings.equals(challengeItemDto.isActive, 'Y')}">
								<div class="col-lg-12 challenge-list-wrap-nomargin">
		
									<form th:action="@{'/updateChallengeItem/' + ${challengeItemDto.id}}" method="post">
										<div class="challenge-list-content-box col-5">
											<input type="hidden" id="challengeItemId" name="challengeItemId" th:value="${challengeItemDto.id}">
											<div class="col-4">
												<img src="/images/myLibrary/book.png" />
											</div>
											<div class="col-8">
												<p class="targer-title">목표독서량</p>
												<div class="reading-target">
													<input class="completeYn" id="completedRentBooksCount" th:if="${completedRentBooksCount} > 0" th:value="${completedRentBooksCount}" disabled />
													<input class="completeYn" th:unless="${completedRentBooksCount} > 0" value="0" disabled />
													<p>/</p>
													<input th:value="${challengeItemDto.targetMount}" id="targetMount" class="targetMount" disabled />
												</div>
											</div>
										</div>
	
										<div class="col-7 challenge-item">
											<div th:if="${#strings.equals(challengeItemDto.isActive, 'Y') and #strings.equals(challengeItemDto.success, 'N')}">
												<p>꾸준한 독서로 목표를 달성해 보세요!</p>
												<div id="buttonContainer"></div>
											</div>
	
											<div class="challenge-item-box" th:if="${#strings.equals(challengeItemDto.isActive, 'Y') and #strings.equals(challengeItemDto.success, 'Y')}">
												<p>축하합니다!! 목표를 달성했습니다.</p>
												<p>새로운 목표를 세워보세요!</p>
												<a href="/myLibrary/myChallenge/new" class="new-challenge" >새로운 목표</a>
											</div>
										</div>
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
									</form>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>

</div>


<th:block layout:fragment="script">
	
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>	
	<script>
	
	$(document).ready(function() {
		
		autoCheckChallenge()
		
	    $("#submitButton").click(function() {
	        var challengeItemId = parseInt($("#challengeItemId").val());
	        $.ajax({
	            url: "/updateChallengeItem/" + challengeItemId,
	            method: "GET", 
	            success: function(response) {
	            	console.log(challengeItemId);
	            	alert("요청에 성공했습니다.");
	            },
	            error: function(error) {
	            	alert("요청에 실패했습니다.");
	            }
	        });
	    });
	    
	    $("#submitButton").click(function() {
	        var challengeItemId = parseInt($("#challengeItemId").val());
	        $.ajax({
	            url: "/deactivateChallenge/" + challengeItemId,
	            method: "GET", 
	            success: function(response) {
	            	console.log(challengeItemId);
	            	alert("요청에 성공했습니다.");
	            },
	            error: function(error) {
	            	alert("요청에 실패했습니다.");
	            }
	        });
	    });
	    
	   
	    
	});
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
				
	var challengeItemId = document.getElementById("challengeItemId").value;
	
	
	//completedRentBooksCount & targetMount 값 비교 / challengeItemId 값 넘겨주기
	function autoCheckChallenge(){
		
		var completedRentBooksCount = parseInt(document.getElementById("completedRentBooksCount").value)
		var targetMount = parseInt(document.getElementById("targetMount").value);
		
		if(completedRentBooksCount >= targetMount ){
			
			var successButton = document.createElement("button");
			successButton.innerHTML = "챌린지 성공";
			successButton.onclick = function(){
				alert("목표독서량에 도달했습니다.");

				
			var url = "/updateChallengeItem/" + challengeItemId;
				
			$.ajax({
				url : url,
				type : "POST",
				beforeSend : function(xhr){
					xhr.setRequestHeader(header, token)
				},
				success : function(response){
					if(response === "success"){
						alert("챌린지를 성공으로 표시했습니다.");
						location.href="/myLibrary/myChallenge";
					} else {
						alert("챌린지 업데이트에 실패했습니다.");
					}
				},
				error : function(){
					alert("요청에 실패했습니다.");
				}
			});
		};
			
			var buttonContainer = document.getElementById("buttonContainer");
			buttonContainer.appendChild(successButton);
		}
		
	}
	
	//비활성화 데이터 넘기기
	
	function deactivateChallenge(challengeItemId){
		
		var url = "/deactivateChallenge/" + challengeItemId;
				
			$.ajax({
				url : url,
				type : "POST",
				beforeSend : function(xhr){
					xhr.setRequestHeader(header, token)
				},
				success : function(response){
					if(response === "success"){
						alert("챌린지가 비활성화 되었습니다.");
						location.href="/myLibrary/myChallenge";
					} else {
						alert("챌린지 비활성화 설정을 실패했습니다.");
					}
				},
				error : function(){
					alert("비활성화 중 오류가 발생했습니다.");
				}
			});
		
	}
	
	
	</script>
	
</th:block>

</html>