<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>


<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/myChallenge.css" />
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container-fluid">
			<div class="row">
				<div class="container-fluid section-wrap">
				
					<!-- top profile -->
					<div class="mylibrary-top">
						<div class="container profile-box">
							<div class="col-2">
								<div class="profile-img-box">
									<img alt="프로필" src="/images/myLibrary/profile.png">
								</div>
							</div>
							<div class="col-4 user-info-box">
								<p class="user-info">[[${user.memberName}]]<span>&nbsp;님의 서재</spans></p>
							</div>
							<div class="col-6"></div>
						</div>						
					</div>

					<!-- 나의챌린지 생성하기 content -->
					<div class="challenge-wrap" >
					
						<div class="container challengeNew-box" th:if="${#lists.isEmpty(challengeHistDtos)}">
							<div class="challenge-text-wrap">
								<p class="challenge-text"> <strong> [[${user.memberName}]] </strong> &nbsp;님 나만의 챌린지를 시작해 보세요.</p>
								<div class="challenge-link-wrap">
									<a class="challenge-new-link" href="/myLibrary/myChallenge/new">
										챌린지 생성 <sapn> <i class="fa-solid fa-circle-plus" style="color: #555555;"></i> </sapn>
									</a>
								</div>
							</div>
						</div>
						
						<div class="container challenge-list-box" th:if="${not #lists.isEmpty(challengeHistDtos)}">
							<div class="challenge-title-box">
								<h4>나만의 챌린지</h4>
								<hr>
							</div>
							
							<div class="challenge-list-wrap" th:each="challengeHistDto, status : ${challengeHistDtos}">
								<div class="challenge-list-content-box col-5" th:each="challengeItemDto, status : ${challengeHistDto.challengeItemDtoList}" >
									<div class="col-4">
										<img src="/images/myLibrary/book.png" />
									</div>
									<div class="col-8">
										<p class="targer-title">목표독서량</p>
										<div class="reading-target">
											<p class="completeYn" id="completedRentBooksCount" th:if="${completedRentBooksCount} > 0" th:text="${completedRentBooksCount}"></p>
											<p class="completeYn" th:unless="${completedRentBooksCount} > 0">0</p>
											<p>/</p>
											<p th:text="${challengeItemDto.targetMount}" id="targetMount" class="targetMount"></p>
										</div>
									</div>
								</div>
								
								<input type="hidden" id="challengeItemId" name="challengeItemId">
								
								<div th:each="challengeItemDto, status : ${challengeHistDto.challengeItemDtoList}" class="col-7 challenge-item">
									<div th:if="${#strings.equals(challengeItemDto.success, 'N')}">
										<p>꾸준한 독서로 목표를 달성해 보세요!</p>
									</div>
									
									<div class="challenge-item-box" th:if="${#strings.equals(challengeItemDto.success, 'Y')}">
										<p>축하합니다!! 목표를 달성했습니다.</p>
										<p>새로운 목표를 세워보세요!</p>
										<a href="/myLibrary/myChallenge/new" class="new-challenge">새로운 목표</a>
									</div>
								</div>
							</div>
							
							
						</div>
						
						
						
						
					</div>
											
					
				</div>
			</div>
		</div>
	</div>

</div>


<th:block layout:fragment="script">
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
	<script>
	$(document).ready(function() {

    var completedRentBooksCount = parseInt($('#completedRentBooksCount').text());
    var targetMount = parseInt($('#targetMount').text());

    if (completedRentBooksCount === targetMount) {

        $.ajax({
            type: 'POST', 
            url: '/updateChallengeItem', 
            data: {
                completedRentBooksCount: completedRentBooksCount,
                targetMount: targetMount,
                challengeItemId: $('#challengeItemId').val()
            },
            success: function(response) {
                
                console.log('데이터베이스 업데이트 성공');
               
            },
            error: function(error) {
              
                console.error('데이터베이스 업데이트 실패');
               
            }
        });
    }
});

	
	
	</script>
	
</th:block>

</html>