<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>


<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/myLibraryMain.css" />
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container-fluid">
			<div class="row">
				<div class="container-fluid section-wrap">
					
					<div class="mylibrary-top">
						<div class="container profile-box">
							<div class="col-2">
								<div class="profile-img-box">
									<img alt="프로필" src="/images/myLibrary/profile.png">
								</div>
							</div>
							<div class="col-4 user-info-box">
								<p class="user-info">[[${memberName}]]<span>&nbsp;님의 서재</spans></p>
							</div>
							<div class="col-6"></div>
						</div>						
					</div>

					<!-- myLibrary 메뉴 -->
					<div class="container myLibrary-menu-wrap">
						<div class="myLibrary-menu-box">
							<div class="col-3"></div>
							<div class="col-6">
								<nav class="myLibrary-nav">
									<ul class="myLibrary-menu1">
										<li> <a href="/myLibrary/rentList">Book case</a> </li> <span>&nbsp;|</span>
										<li> <a href="/myLibrary/favoritebook">Favorite</a> </li> <span>&nbsp;|</span>
										<li> <a href="/myLibrary/myChallenge">Challenge</a> </li>
									</ul>
									<ul class="myLibrary-menu2">
										<li> <a href="/myLibrary/rentList">Book case</a> </li> <span>&nbsp;|</span>
										<li> <a href="/myLibrary/favoritebook">Favorite</a> </li> <span>&nbsp;|</span>
										<li> <a href="/myLibrary/myChallenge">Challenge</a> </li>
									</ul>
								</nav>
							</div>
							<div class="col-3"></div>
						</div>
					</div>
					
					
					<!-- 나의서재  contents -->
					
					<div class="myLibrary-contents-wrap">
						<!-- bookcase -->
						<div class="container bookcase-wrap">
							<div class="bookcase-box">
								<div class="bookcase-box-title">
									<img class="myLibrary-pictogram" src="/images/myLibrary/book.png" alt="Book case" />
									<span class="myLibrary-title">Book case</span>
									<span class="myLibrary-more">
										<a href="/myLibrary/rentList">more</a>
									</span>
								</div>
								
								<div class="rent-book-wrap" th:if="${not #lists.isEmpty(rentBookList)}">
									<!-- 대여한 도서 보여주기 -->
									<div class="rent-book" th:each="rentBook, status : ${rentBooks}">
										<img th:src="${rentBook.imgUrl}" alt="${rentBook.bookName}" />
									</div>
								</div>
								
								<div class="author-book-null-wrap" th:if="${#lists.isEmpty(rentBookList)}">
									<p class="author-book-null">
										대여한 도서가 없습니다.
									</p>
								</div>	
								
								<div class="rent-book-deco-bar"></div>
							</div>
						</div>
						
						
						<!-- favorite -->
						<div class="container favorite-wrap">
							<div class="favorite-box">
								<div class="favorite-box-title">
									<img class="myLibrary-pictogram" src="/images/myLibrary/favorite.png" alt="Favorite" />
									<span class="myLibrary-title">Favorite</span>
									<span class="myLibrary-more">
										<a href="/myLibrary/FavoriteBook">more</a>
									</span>
								</div>
								
								<div class="favorite-book-wrap" th:if="${not #lists.isEmpty(favoriteBookList)}">
									<!-- 찜한 도서 보여주기 -->
									<div class="favorite-book" th:each="favoriteBook, status : ${favoriteBooks}">
										<img src="${favoriteBook.imgUrl}" alt="${favoriteBook.bookName}" />
									</div>
								</div>
								<div class="favorite-book-null-wrap" th:if="${#lists.isEmpty(favoriteBookList)}">
									<p class="favorite-book-null">
										찜한 도서가 없습니다.
									</p>
								</div>
								
								<div class="favorite-book-deco-bar"></div>
							</div>
						</div>
						
						
											
					</div>
					
				</div>
			</div>
		</div>
	</div>

</div>


<th:block layout:fragment="script">

</th:block>

</html>