<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">
	
	 
<!-- adminBook 페이지 CSS --> 
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/adminBook.css" />	
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-12 section-wrap">
				
					<div class="row">
						<nav class="menu col-lg-2">
							<ul class="col-12">
								<li><a href="/adminBook">도서관리</a></li>
								<li><a href="/adminMember">회원관리</a></li>
								<li><a href="/adminRent">대출관리</a></li>
								<li><a href="/adminKeyword">키워드 관리</a></li>
								<li><a href="/adminAsk">문의관리</a></li>
								<li><a href="/adminNotice">공지관리</a></li>
							</ul>
						</nav>
						
						
						<div class="admin-content col-lg-10">
							<div class="container">
								<div class="row">
									<div class="col-12">
										
										<div class="top-title">
											<h4>도서관리</h4>
											<hr>
										</div>
										
										
										<form role="form" action="">
											<!-- 도서관리 contents -->
											<table class="table table-responsive-md ">						
												<thead>
													<tr>
														<th scope="col"></th>
														<th scope="col">도서ID</th>
														<th scope="col">도서명</th>
														<th scope="col">저자명</th>
														<th scope="col">출판사</th>
														<th scope="col">등록일</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<input type="checkbox" value=""/> 
														</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
											
											<!-- 등록버튼  -->
											<div class="form-group button col-12">
												<div class="col-md-8"></div>
												<div class="col-md-2">
													<button type="button" class="btn reg_btn" style="width: 100px;">등록하기</button>
												</div>
												<div class="col-md-2">
													<button type="button" class="btn delete_btn" style="width: 100px;">삭제하기</button>
												</div>
											</div>

											<!-- 검색 bar 부분 -->
											<div class="row search-bar" style="height: 40px;">
												<div class="col-lg-2"></div>
												<div class="col-lg-2" style="display: flex;">
													<!-- 검색분류 -->
													<select class="form-control">
														<option value="">검색분류</option>
														<option value=""></option>
														<option value=""></option>
														<option value=""></option>
														<option value=""></option>
														<option value=""></option>
													</select>
												</div>
												<div class="col-lg-6">
													<div style="display: flex;">
														<input type="text" class="form-control col-sm-10" placeholder="검색어 입력">
														<button id="searchBtn" type="submit" class="btn search-btn col-sm-2">검색</button>
													</div>
												</div>
												<div class="col-lg-2"></div>
											</div>


											<!-- paging 부분 -->
											<!-- 개발 후 medel key 으로 수정해서 사용하세요
											<nav th:with="start=${(items.number / maxPage) * maxPage + 1}, 
														  end = (${ ((items.totalPages == 0)) ? 1 :	(start + (maxPage -1) < items.totalPages ?
											  			  start + (maxPage - 1) : items.totalPages)})" 						
															aria-label="...">
												<ul class="pagination d-flex justify-content-center">
						  
												    <li class="page-item" th:classappend="${items.first} ? 'disabled'">
												      	<a class="page-link" th:onclick="'javascript:page(' + ${items.number - 1} + ')'">◀</a>
													</li>

													<li class="page-item"
														th:each="page: ${#numbers.sequence(start, end)}"
														th:classappend="${items.number eq page -1} ? 'active' : '' ">
														<a class="page-link" th:inline="text"
														th:onclick="'javascript:page(' + ${page - 1} + ')'">
															[[${page}]] </a>
													</li>

													<li class="page-item"
														th:classappend="${items.last} ? 'disabled'"><a
														class="page-link"
														th:onclick="'javascript:page(' + ${items.number + 1} + ')'">▶</a>
														</li>

												</ul>
											</nav>
											-->
											
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

</div>


<!-- adminBook 페이지 javaScript -->
<th:block layout:fragment="script">

	<script>
	/*  개발 후 검색 항목에 맞게 수정해서 사용하세요
	$(document).ready(function(){
		$("#searchBtn").on("click", function(e){
			e.preventDefault(); 
			page(0); 
		});			
	});
	
	function page(page){
		
		var searchDateType = $("#searchDateType").val();
		var searchSellStatus = $("#searchSellStatus").val();
		var searchBy = $("#searchBy").val();
		var searchQuery = $("#searchQuery").val();
		
		location.href = "/admin/adminBook/" + page 
					  + "?searchDateType=" +  searchDateType 
					  + "&searchSellStatus=" + searchSellStatus
					  + "&searchBy=" + searchBy
					  + "&searchQuery=" + searchQuery
	}	
	 */
	</script>
</th:block>

</html>