<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">
	
	 
<!-- adminBook 페이지 CSS --> 
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/adminAuthorReg.css" />	
</th:block>

<div layout:fragment="content"> 

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-12 section-wrap">
				
					<div class="row">
						<nav class="menu col-lg-2">
							<ul class="col-12">
								<li><a href="/admin/book">도서관리</a></li>
								<li><a href="/admin/member">회원관리</a></li>
								<li><a href="/admin/rent">대출관리</a></li>
								<li><a href="/admin/keyword">키워드 관리</a></li>
								<li><a href="/admin/author">추천작가 관리</a></li>
								<li><a href="/admin/question">문의관리</a></li>
								<li><a href="/admin/notice">공지관리</a></li>
							</ul>
						</nav>
						
						 
						<div class="admin-content col-lg-10">
							<div class="container">
								<div class="row">
									<div class="col-12">
										
										<div class="top-title">
											<h4>추천작가도서 등록</h4>
											<hr>
										</div>
										
										
										<form role="form" action="/admin/authorBookReg" method="post" enctype="multipart/form-data"												>
											
											
											<div class="form-group row">
												<div class="dropdown col-md-12">
													<label class="text-black col-md-2"> 작가명</label>
													<select  id="authorName" class="form-control col-md-10">
														<option value="">작가명을 선택하세요</option>
														<option>
														</option>
													</select>
												</div>
											</div>
											
											<!-- 작가도서정보 등록 --> <!-- 도서1 -->
											<div>
												<p class="book-title">도서1</p>
											</div>
											<div class="author-contents">
												<label for="bookName" class="author-label">도서명</label>
												<br />
												<input type="text" placeholder="도서제목을 입력하세요" class="form-control col-12" />
											</div>
											<div class="author-contents">
												<label for="bookSubtitle" class="author-label">도서소개 타이틀</label>
												<br />
												<input rows="10" placeholder="작가의 도서소개 타이틀" class="form-control col-12" />
											</div>
											<div class="author-contents">
												<label for="bookIntrodution" class="author-label">도서소개</label>
												<br />
												<input rows="10" placeholder="도서를 소개하세요"class="form-control col-12" />
											</div>
											<div class="author-contents">
												<div class="mb-3 filebox">
													<label for="bookImgFile" class="form-label">도서 이미지 등록</label>
													<input class="form-control" type="file" id="authorBookImgFile" name="authorBookImgFile">
												</div>
											</div>
											
											<hr>
											
											<!-- 작가도서정보 등록 --> <!-- 도서2 -->
											<div>
												<p class="book-title">도서2</p>
											</div>
											<div class="author-contents">
												<label for="bookName" class="author-label">도서명</label>
												<br />
												<input type="text" placeholder="도서제목을 입력하세요" class="form-control col-12" />
											</div>
											<div class="author-contents">
												<label for="bookSubtitle" class="author-label">도서소개 타이틀</label>
												<br />
												<input rows="10" placeholder="작가의 도서소개 타이틀"  class="form-control col-12" />
											</div>
											<div class="author-contents">
												<label for="bookIntrodution" class="author-label">도서소개</label>
												<br />
												<input rows="10" placeholder="도서를 소개하세요"  class="form-control col-12" />
											</div>
											<div class="author-contents">
												<div class="mb-3 filebox">
													<label for="bookImgFile" class="form-label">도서 이미지 등록</label>
													<input class="form-control" type="file" id="authorBookImgFile" name="authorBookImgFile">
												</div>
											</div>
											
											<hr>
											
											<!-- 작가도서정보 등록 --> <!-- 도서3 -->
											<div>
												<p class="book-title">도서3</p>
											</div>
											<div class="author-contents">
												<label for="bookName" class="author-label">도서명</label>
												<br />
												<input type="text" placeholder="도서제목을 입력하세요"  class="form-control col-12" />
											</div>
											<div class="author-contents">
												<label for="bookSubtitle" class="author-label">도서소개 타이틀</label>
												<br />
												<input rows="10" placeholder="작가의 도서소개 타이틀"class="form-control col-12" />
											</div>
											<div class="author-contents">
												<label for="bookIntrodution" class="author-label">도서소개</label>
												<br />
												<input rows="10" placeholder="도서를 소개하세요" class="form-control col-12" />
											</div>
											<div class="author-contents">
												<div class="mb-3 filebox">
													<label for="bookImgFile" class="form-label">도서 이미지 등록</label>
													<input class="form-control" type="file" id="authorBookImgFile" name="authorBookImgFile">
												</div>
											</div>
											
											<hr>
											
											<!-- 작가도서정보 등록 --> <!-- 도서4 -->
											<div>
												<p class="book-title">도서4</p>
											</div>
											<div class="author-contents">
												<label for="bookName" class="author-label">도서명</label>
												<br />
												<input type="text" placeholder="도서제목을 입력하세요"  class="form-control col-12" />
											</div>
											<div class="author-contents">
												<label for="bookSubtitle" class="author-label">도서소개 타이틀</label>
												<br />
												<input rows="10" placeholder="작가의 도서소개 타이틀"  class="form-control col-12" />
											</div>
											<div class="author-contents">
												<label for="bookIntrodution" class="author-label">도서소개</label>
												<br />
												<input rows="10" placeholder="도서를 소개하세요"  class="form-control col-12" />
											</div>
											<div class="author-contents">
												<div class="mb-3 filebox">
													<label for="bookImgFile" class="form-label">도서 이미지 등록</label>
													<input class="form-control" type="file" id="authorBookImgFile" name="authorBookImgFile">
												</div>
											</div>
																						
											

											<!-- 등록버튼  -->
											<div class="form-group button col-12">
												<div class="col-md-8"></div>
												<div class="col-md-2">
													<button type="button" class="btn reg_btn" onclick="submit()" style="width: 100px;">등록하기</button>
												</div>
												<div class="col-md-2">
													<button type="reset" class="btn delete_btn" style="width: 100px;">다시쓰기</button>
												</div>
											</div>
												
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">											
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

</div>


<!-- adminBook 페이지 javaScript -->
<th:block layout:fragment="script">

	<script th:inline="javascript">
	
	$(document).ready(function(){
		
		var errorMessage = [[${errorMessage}]];
		if(errorMessage != null){
			alert(errorMessage);
		}
		bindDomEvent();
	
	});
	
	function bindDomEvent(){
		$(".custom-file-input").on("chand", function(){
			var fileName = $(this).val().split("\\").pop();
			var fileExt = fileName.substring(fileName.lastIndexof(".") + 1);
			fileExt = fileExt.toLowerCase();
			
			if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
				alert("이미지 파일만 등록이 가능합니다.");
				return;
			}
			$(this).siblings(".custom-file-label").html(fileName);
		});
	}
	
	</script>
</th:block>

</html>