<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<!-- adminBook 페이지 CSS -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/answer.css" />
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-12 section-wrap">

					<div class="row">
						<nav class="menu col-lg-2">
							<ul class="col-12">
								<li><a href="/admin/books">도서관리</a></li>
								<li><a href="/admin/member">회원관리</a></li>
								<li><a href="/admin/rents">대출관리</a></li>
								<li><a href="/admin/keyword/recommend">추천 키워드 관리</a></li>
								<li><a href="/admin/author">추천작가 관리</a></li>
								<li><a href="/admin/question">문의관리</a></li>
								<li><a href="/admin/notice">공지관리</a></li>
							</ul>
						</nav>


						<div class="admin-content col-lg-10">
							<div class="container">
								<div class="row">
									<div class="col-12">

										<div class="top-title">
											<h4>문의답변</h4>
											<hr>
										</div>


										<form action="/admin/answer" method="post" name="form">
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}">
											<input type="hidden" name="questionId" th:value="${question.id}" />
											<input type="text" class="form-control answer-title col-12"
												th:if="${question}" th:value="'RE: ' + ${question.title}" />
											<textarea name="content" rows="10" class="form-control answer-content col-12"
												id="answer" th:if="${question}"
												th:text="'RE: ' + ${question.content}"></textarea>

											<!-- 등록버튼  -->
											<div class="form-group button col-12">
												<div class="col-12">
													<input type="button" value="등록하기" class="btn col-12 answer-btn"
														onclick="submitAnswer()" />
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>


<!-- adminBook 페이지 javaScript -->
<th:block layout:fragment="script">

	<script th:inline="javascript">
		var errorMessage = [[${errorMessage}]];
		if (errorMessage != null) {
			alert(errorMessage);
		}

		const submitAnswer = () => {
			var f = document.form;
			str = f.answer.value;
			str = str.trim();
			if (!str) {
				alert("\n답변을 입력하세요.");
				f.answer.focus();
				return;
			}
			f.submit();
		}
	</script>
</th:block>

</html>