<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">
	
	 
<!-- adminBook 페이지 CSS --> 
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/adminMember.css" />	
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-12 section-wrap">
				
					<div class="row">
						<nav class="menu col-lg-2">
							<ul class="col-12">
								<li><a href="/admin/book">도서관리</a></li>
								<li><a href="/admin/member">회원관리</a></li>
								<li><a href="/admin/rent">대출관리</a></li>
								<li><a href="/admin/keyword">키워드 관리</a></li>
								<li><a href="/admin/author">추천작가 관리</a></li>
								<li><a href="/admin/question">문의관리</a></li>
								<li><a href="/admin/notice">공지관리</a></li>
							</ul>
						</nav>
						
						 
						<div class="admin-content col-lg-10">
							<div class="container">
								<div class="row">
									<div class="col-12">
										
										<div class="top-title">
											<h4>회원정보</h4>
											<hr>
										</div>
										
										
										<form role="form" action="">
											
											<div class="col-md-2"></div>
											<div class="col-md-8">
												<table class="table table-responsive-md ">						
													<tr>
														<th class="col-sm-3">아이디</th>
														<td class="col-sm-9"></td>
													</tr>
													<tr>
														<th class="col-sm-3">회원이름</th>
														<td class="col-sm-9"></td>
													</tr>
													<tr>
														<th class="col-sm-3">전화번호</th>
														<td class="col-sm-9"></td>
													</tr>																										
												</table>
												
												<!-- 등록버튼  -->
												<div class="form-group button col-12">
													<div class="col-md-9"></div>
													<div class="col-md-3 goBack-link">
														<a href="/adminMember" class="btn goBack" style="width: 100px;">뒤로가기</a>
													</div>
												</div>
											</div>
											<div class="col-md-2"</div>

																						
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

</div>


<!-- adminBook 페이지 javaScript -->
<th:block layout:fragment="script">

	<script>
	
	</script>
</th:block>

</html>