<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">
	
	 
<!-- adminBook 페이지 CSS --> 
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/answer.css" />	
</th:block>

<div layout:fragment="content"> 

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-12 section-wrap">
				
					<div class="row">
						<nav class="menu col-lg-2">
							<ul class="col-12">
								<li><a href="/admin/books">도서관리</a></li>
								<li><a href="/admin/member">회원관리</a></li>
								<li><a href="/admin/rents">대출관리</a></li>
								<li><a href="/admin/keyword/recommend">추천 키워드 관리</a></li>
								<li><a href="/admin/author">추천작가 관리</a></li>
								<li><a href="/admin/question">문의관리</a></li>
								<li><a href="/admin/notice">공지관리</a></li>
							</ul>
						</nav>
						
						 
						<div class="admin-content col-lg-10">
							<div class="container">
								<div class="row">
									<div class="col-12">
										
										<div class="top-title">
											<h4>문의답변</h4>
											<hr>
										</div>
										
										
										<form role="form" action="">
											
											<input type="text" class="form-control answer-title col-12" th:if="${question}" th:value= "'RE: ' + ${question.title}"/>
											<textarea rows="10" class="form-control answer-content col-12" id="answer" th:if="${question}" th:text="'RE: ' + ${question.content}"></textarea>
																				
												<!-- 등록버튼  -->
												<div class="form-group button col-12">
													<div class="col-12">
														<button type="button" class="btn col-12 answer-btn">등록하기</button>
													</div>
												</div>
																						
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

</div>


<!-- adminBook 페이지 javaScript -->
<th:block layout:fragment="script">

	<script>
	
	</script>
</th:block>

</html>
