<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">
	
	 
<!-- adminBook 페이지 CSS --> 
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/adminBook.css" />	
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-12 section-wrap">
				
					<div class="row">
						<nav class="menu col-lg-2">
							<ul class="col-12">
								<li><a href="/admin/book">도서관리</a></li>
								<li><a href="/admin/member">회원관리</a></li>
								<li><a href="/admin/rent">대출관리</a></li>
								<li><a href="/admin/keyword">키워드 관리</a></li>
								<li><a href="/admin/author">추천작가 관리</a></li>
								<li><a href="/admin/question">문의관리</a></li>
								<li><a href="/admin/notice">공지관리</a></li>
							</ul>
						</nav>
						
						
						<div class="admin-content col-lg-10">
							<div class="container">
								<div class="row">
									<div class="col-12">
										
										<div class="top-title">
											<h4>도서수정</h4>
											<hr>
										</div>
										
										
										<form role="form" action="">
											<div class="col-sm-1"></div>

											<div class="col-sm-10">
												<div class="bookReg-form-wrap">
													<label for="bookName" class="book-reg-label">도서명</label>
													<br />
													<input type="text" placeholder="도서명 입력" class="book-name col-12" />
												</div>
												
												<div class="bookReg-form-wrap">
													<label for="author" class="book-reg-label">저자명</label>
													<br />
													<input type="text" placeholder="저자명 입력" class="col-6" />
												</div>
												
												<div class="bookReg-form-wrap">
													<label for="publisher" class="book-reg-label">출판사명</label>
													<br />
													<input type="text" placeholder="출판사명 입력" class="col-6" />
												</div>
												
												<div class="bookReg-form-wrap">
													<label for="category" class="book-reg-label">카테고리</label>
													<br />
													<input type="text" placeholder="카테고리 입력" class="col-6" />
												</div>
												
												<div class="page-to-isbn">
													<div class="bookReg-form-wrap">
														<label for="page" class="book-reg-label">페이지 수</label>
														<input type="text" placeholder="페이지 수 입력" />
													</div>
													
													<div class="bookReg-form-wrap">
														<label for="publicationDate" class="book-reg-label">발행일</label>
														<input type="text" placeholder="발행일 입력" />
													</div>
													
													<div class="bookReg-form-wrap">
														<label for="ISBN" class="book-reg-label">ISBN</label>
														<input type="text" placeholder="ISBN 입력" />
													</div>
													
												</div>
												
												<div class="bookReg-form-wrap">
													<label for="bookIntroduction" class="book-reg-label">책소개</label>
													<textarea rows="10" class="form-control book-introduction col-12" id="bookIntroduction"></textarea>
												</div>
												
												<div class="bookReg-form-wrap">
													<label for="contents" class="book-reg-label">목차</label>
													<textarea rows="10" class="form-control contents col-12" id="contents"></textarea>
												</div>										
											
												<div class="imgbox" >
													<div class="md-3">
														<label for="formFile" class="form-label"></label>
														<input class="form-control" type="file" id="BookImgFile" name="BookImgFile">
													</div>
												</div>
												
												<!-- 등록버튼  -->
												<div class="form-group button col-12">
													<div class="col-md-8"></div>
													<div class="col-md-2">
														<button type="button" class="btn reg_btn" style="width: 100px;">수정완료</button>
													</div>
													<div class="col-md-2">
														<button type="button" class="btn delete_btn" style="width: 100px;">취소하기</button>
													</div>
												</div>
											</div>
											
											<div class="col-sm-1"></div>		
											
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

</div>


<!-- adminBook 페이지 javaScript -->
<th:block layout:fragment="script">

	<script>
	
	</script>
</th:block>

</html>