<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>EZEN북티빙시대</title>

	<!-- 공통으로 쓰이는 css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" /> 

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />

    <link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- 탬플릿 css -->

	<!-- 폰트어썸 -->
	<link rel="stylesheet" th:href="@{/fontawesome-free-6.3.0-web/css/all.min.css}" />
	
	<!-- 각 페이지의 CSS가 작성될 위치 -->
	<th:block layout:fragment="css"></th:block>

</head>


<body>

	<div class="site-wrap contain-fluid">
		<div th:replace="~{fragments/header::header}" class="header justify-content-center"></div>
		<div layout:fragment="content" class="content justify-content-center"></div>
		<div th:replace="~{fragments/footer::footer}" class="footer justify-content-center"></div>
	</div>

	<!-- 공통으로 쓰이는 js -->
  	<script th:src="@{/js/jquery-3.3.1.min.js}" /></script>
  	<script th:src="@{/js/jquery-ui.js}" /></script>
  	<script th:src="@{/js/popper.min.js}" /></script>
  	<script th:src="@{/js/bootstrap.min.js}" /></script>
  	<script th:src="@{/js/owl.carousel.min.js}" /></script>
  	<script th:src="@{/js/jquery.magnific-popup.min.js}" /></script>
  	<script th:src="@{/js/aos.js}" /></script>

  	<script th:src="@{/js/main.js}" /></script>
	
	<script th:inline="javascript">
		let loginMemberRole = [[${#authentication.authorities[0].authority}]];
		let pathName = window.location.pathname;
		let sns = '/login/sns';
		let snsNew = '/login/sns/new';
		if(loginMemberRole == 'ROLE_WAIT') {			
			if(pathName != sns && pathName != snsNew) {
				alert("추가정보 입력이 필요합니다.");
				location.href= sns;
			}
		}
	</script>
	
	<!-- 각 페이지의 스크립트가 작성될 위치 -->
	<th:block layout:fragment="script"></th:block>

</body>

</html>