<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">
	 
<!-- author 페이지 CSS --> 
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/author.css" />	
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 section-wrap">
					
					<div class="container">
					</div>
					
				</div>
			</div>
		</div>	
	</div>
						
</div>


<!-- author 페이지 javaScript -->
<th:block layout:fragment="script">
</th:block>
</html>