<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>


<!-- rentlist 페이지 CSS -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/rentlist.css" />
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-12 section-wrap">

					<div class="row">


						<div class="admin-content col-lg-12">
							<div class="container">
								<div class="row">
									<div class="col-12">

										<div class="top-title">
											<h4>내 대여내역</h4>
											<hr>
										</div>

										<!-- 내 대여내역 contents -->
										<div class="container">
											<div class="row">
												<div class="col-md-2"></div>
												<div class="col-md-8">
													<div th:each="rentBook : ${rentBooks.getContent()}">
														<div class="card">
															<div class="each">
																<div style="margin: 0">
																	<span class="book-rent-num">대여번호</span>
																	<p th:text="${rentBook.id}">1</p>
																</div>
																<div style="margin: 0">
																	<div class="img">
																		<img class="rentlist-img" alt="이미지"
																			src="/images/booktest1.JPG">
																	</div>
																</div>
																<div class="test" style="display: flex;">

																	<div style="margin-right: 30px">
																		<h5 class="book-name" th:text="${rentBook.bookName}">도서명</h5>
																		<span class="rent-sub" th:text="${rentBook.author}">저자명</span>
																		/ <span class="rent-sub"
																			th:text="${rentBook.publisher}">출판사명</span>
																	</div>
																	<div style="margin-right: 30px;">
																		<p class="book-price">결제방식</p>
																		<span class="rent-sub">이용권</span>
																	</div>
																	<div>
																		<p class="book-date">대여일</p>
																		<span class="rent-sub" th:text="${rentBook.rentDate}">2023/08/18</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-2"></div>
											</div>
										</div>




										<!--페이지 버튼  -->
										<div>
											<nav
												th:with="start=${(rentBooks.number/maxPage)*maxPage + 1}
			                 ,end=(${(rentBooks.totalPages == 0) ? 1 : (start + (maxPage - 1) < rentBooks.totalPages ? start + (maxPage - 1) : rentBooks.totalPages)})"
												aria-label="Page navigation example" class="page-nav">
												<ul
													class="pagination d-flex justify-content-center adminbook-page">
													<li class="page-item pageitem"
														th:classappend="${rentBooks.first}?'disabled'"><a
														class="page-link"
														th:onclick="'javascript:page(' + ${rentBooks.number - 1} +')'">이전</a>
													</li>

													<li class="page-item pageitem"
														th:each="page: ${#numbers.sequence(start, end)}"
														th:classappend="${rentBooks.number eq page-1}?'active':''">
														<a class="page-link" th:inline="text"
														th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a>
													</li>

													<li class="page-item pageitem"
														th:classappend="${rentBooks.last}?'disabled'"><a
														class="page-link"
														th:onclick="'javascript:page(' + ${rentBooks.number + 1} +')'">다음</a>
													</li>
												</ul>
											</nav>
										</div>




									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>

<th:block layout:fragment="script">
	<script>
	
	function page(page) {

		var searchBy = $("#searchBy").val();
		var searchQuery = $("#searchQuery").val();

		location.href = "/mypage/rentlist/" + page + "?searchBy=" + searchBy
				+ "&searchQuery=" + searchQuery;
	}
	
	</script>
	
</th:block>

</html>