<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/questionDetail.css" />
	<style>
	</style>
</th:block>

<div layout:fragment="content">
	<div class="top">
		<div class="container">
			<div class="question-content">
				<h4 class="question-title">고객센터</h4>
			</div>
				
				<hr class="container">
				
				
			<div class="que1">
				<h6>1:1 문의</h6>
			</div>
			
			
			<div class="detail-div">
				<div class="title">
					<p th:if="${question}" th:text="${question.title}" class="detail-title"></p>
				</div>
				<div class="content2">
					<p th:if="${question}" th:text="${question.content}" class="detail-content"></p>
				</div>
				<div class="d-flex mt-4" style="width: 1050px;">				
					<h5 style="margin: 0; font-weight: bold;">답변</h5>
				</div>
				<div class="answer">
					<p th:if="${answer != null}" th:text="${answer.content}"></p>
				</div>
			</div>
			<div class="detail-list">
				<button type="button" class="list" onclick="location.href='/question/questionList'">목록으로</button>
			</div>
		</div>
	</div>
</div>

</html>