<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/questionList.css" />
	<style>
	</style>
</th:block>

<div layout:fragment="content">
	<div class="top">
		<div class="content">
			<div class="create-question">
				<strong><a href="/question/questionInfo">고객센터</a></strong>
				<p>
					<a href="/question/questionCreate">1:1 문의</a>
				</p>
			</div>
			<div class="que1">
				<strong>1:1 문의</strong>
			</div>
			<div class="buttons_list">
				<button type="button" class="qna-create_list" onclick="location.href='/question/questionCreate'">
					&nbsp;문의하기</button>
				<button type="button" class="qna-list_list" onclick="location.href='/question/questionList'">
					&nbsp;문의내역보기</button>
			</div>
			<div class="qna-contents" th:each="question : ${questionList}">
				<div class="qna-status">
					<div class="status"><p th:text="${question.questionStatus.krName}"></p></div>
					<button type="button" class="delete" onclick=" ">삭제</button>
				</div>
				<div class="title">
					<p>
						<a th:href="@{/question/questionDetail/{id}(id=${question.id})}" style="font-size: 16px; font-weight: bold" th:text="${question.title}"></a>
					</p>
					<p style="color: gray; font-size: 13px" th:text="${question.questionDate}"></p>
				</div>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function () {
		});
		var errorMessage = [[${errorMessage}]];
		if (errorMessage != null) {
			alert(errorMessage);
		}
	</script>
</th:block>

</html>