<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/questionInfo.css" />
	<style>
</style>
</th:block>

<div layout:fragment="content">
	<div class="top">
		<div class="container">
			<div class="question-content">
				<h4 class="question-title">고객센터</h4>
			</div>
				
				<hr class="container">
				
			<div class="question-box container">
				<div class="question-info col-6">
					<h4>무엇을 도와드릴까요?</h4>
					<div class="question-info-text">
						<p class="p1">고객센터 <span>&nbsp;&nbsp;070-7777-7777</span> </p>
						<p class="p1">평&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일 <span>&nbsp;&nbsp;10:00 ~ 18:00</span> </p>
						<p class="p1">점심시간 <span>&nbsp;&nbsp;13:00 ~ 14:00</span> </p>
						<p class="p1">토 / 일 / 공휴일  <span class="red">&nbsp;&nbsp;Day off</span> </p>
					
					
						<p class="p2 p2-1"> ※코로나19로 인해 고객센터 운영을 최소화 하고 있습니다. </p>
						<p class="p2">통화 연결이 어려우니 1:1 문의하기를 이용해주세요.</p>
					</div>
				</div>

				<div class="que-box col-6">
					<div class="que">
						<!-- 사용자가 인증되었는지 확인 -->
						<th:block sec:authorize="isAuthenticated()">
							<a th:href="@{/question/questionCreate}" class="qna"> 1:1 문의하기 </a>
						</th:block>
						<th:block sec:authorize="not isAuthenticated()">
							<!-- 사용자가 인증되지 않은 경우 알림을 표시 -->
							<button type="button" class="qna" onclick="showLoginAlert()"> 1:1 문의하기</button>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		 function showLoginAlert() {
		        alert("로그인 후 이용해주세요.");
		        location.href="/login";
		    }
		</script>
	</th:block>
</html>