<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/mebership.css" />
	<style>
</style>
</th:block>
<div layout:fragment="content">


	<!-- wrapper -->
	<form action="/login/new">
		<!-- content-->
		<div id="content">

			<!-- ID -->

			<div>
				<h3 class="join_title">
					<label for="id">아이디</label>

				</h3>
				<span class="box int_id"> <input type="text" id="id"
					class="int" maxlength="20" placeholder="아이디 입력(6~20자)"
					th:field="*{userId}"> <span class="step_url"></span>
					<p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"
						class="fieldError">Incorrect Data</p>
					<button id="id1">중복확인</button>
				</span> <span class="error_next_box"></span>
			</div>

			<!-- PW1 -->
			<div>
				<h3 class="join_title">
					<label for="pswd1">비밀번호</label>
				</h3>
				<span class="box int_pass"> <input type="text" name="pw"
					id="pswd1" class="int" maxlength="20"
					placeholder="비밀번호 입력(문자,숫자,특수문자 포함 8~20자)"> <span
					id="alertTxt">사용불가</span>

				</span> <span class="error_next_box"></span>
			</div>

			<!-- NAME -->
			<div>
				<h3 class="join_title">
					<label for="name">이름</label>
				</h3>
				<span class="box int_name"> <input type="text" id="name"
					class="int" maxlength="20">
				</span> <span class="error_next_box"></span>
			</div>

			<!-- BIRTH -->
			<div>
				<h3 class="join_title">
					<label for="yy">생년월일</label>
				</h3>

				<div id="bir_wrap">

					<!-- BIRTH_YY -->
					<div id="bir_yy">
						<span class="box"> <input type="date" id="yy" class="int">
						</span>
					</div>


				</div>
				<span class="error_next_box"></span>
			</div>




			<!-- EMAIL -->
			<div>
				<h3 class="join_title">
					<label for="email">본인확인 이메일<span class="optional"></span></label>
				</h3>
				<span class="box int_email"> <input type="text" id="email"
					class="int" maxlength="100" placeholder="선택입력">
				</span> <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
			</div>

			<!-- MOBILE -->
			<div>
				<h3 class="join_title">
					<label for="phoneNo">휴대전화</label>
				</h3>
				<span class="box int_mobile"> <input type="tel" id="mobile"
					class="int" maxlength="16" placeholder="전화번호 입력">
				</span> <span class="error_next_box"></span>
			</div>


			<!-- JOIN BTN-->
			<div class="btn_area">
				<button type="submit" id="btnJoin" style="margin-left: 45px;">
					<span>가입하기</span>
				</button>
				<button type="submit" id="btnJoin">
					<span>취소</span>
				</button>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}">


		</div>
	</form>
</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
var errorMessage = [[${errorMessage}]];
	
	if(errorMessage != null) {
		alert)(errorMessage);
	}
	</script>
</th:block>
</html>