<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/mebership.css" />
	<style>
</style>
</th:block>
<div layout:fragment="content">


	<!-- wrapper -->


	<!-- form fields... -->

	<!-- content-->
	<div id="content">
		<form role="form" action="/login/update" method="post"
			th:object="${memberFormDto}">
			<!-- Form fields... -->


			<!-- ID -->

			<div>
				<h3 class="join_title">
					<label for="userId">아이디</label>

				</h3>
				<span class="box int_id"> <input type="text" class="int"
					maxlength="20" placeholder="아이디 입력(6~20자)" th:field="*{userId}" readonly>
				</span> <span class="error_next_box"> </span> <span class="step_url"></span>



			</div>
			<!-- PW1 -->
			<div>
				<h3 class="join_title">
					<label th:for="password">비밀번호</label>
				</h3>
				<span class="box int_pass"> <input type="password"
					class="int" maxlength="20"
					placeholder="비밀번호 입력(문자,숫자,특수문자 포함 8~20자)" th:field="*{password}">
					<span id="alertTxt">사용불가</span>
				</span> <span class="error_next_box"></span>

			</div>

			<!-- NAME -->
			<div>
				<h3 class="join_title">
					<label th:for="name">이름</label>
				</h3>
				<span class="box int_name"> <input type="text" class="int"
					maxlength="20" placeholder="이름을 입력해주세요" th:field="*{memberName}">
				</span> <span class="error_next_box"></span>

			</div>

			<!-- NAME -->
			<div>
				<h3 class="join_title">
					<label th:for="name">주소</label>
				</h3>
				<span class="box int_name"> <input type="text" class="int"
					maxlength="20" placeholder="주소를 입력해주세요" th:field="*{address}">
				</span> <span class="error_next_box"></span>

			</div>

			<!-- BIRTH -->
			<div>
				<h3 class="join_title">
					<label th:for="yy">생년월일</label>
				</h3>

				<div id="bir_wrap">

					<!-- BIRTH_YY -->
					<div id="bir_yy">
						<span class="box"> <input type="date" class="int"
							th:field="*{birth}">
						</span>

					</div>


				</div>
				<span class="error_next_box"></span>
			</div>




			<!-- EMAIL -->
			<div>
				<h3 class="join_title">
					<label th:for="email">이메일<span class="optional"></span></label>
				</h3>
				<span class="box int_email"> <input type="email" id="email"
					class="int" maxlength="100" placeholder="이메일을 입력해주세요"
					th:field="*{email}">
				</span> <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>

			</div>

			<!-- MOBILE -->
			<div>
				<h3 class="join_title">
					<label th:for="tel">휴대전화</label>
				</h3>
				<span class="box int_mobile"> <input type="tel" id="mobile"
					class="int" maxlength="16" placeholder="전화번호 입력" th:field="*{tel}">
				</span> <span class="error_next_box"></span>

			</div>


			<!-- JOIN BTN-->
			<div class="btn_area">
				<button type="submit" id="btnUpdate" style="margin-left: 45px;">
					<span>수정하기</span>
				</button>
				<button type="button" id="btnDelete" onclick="confirmDelete()">
					<span>삭제</span>
				</button>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}">
		</form>

	</div>

</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
	var errorMessage = [[${errorMessage}]];
	
	if(errorMessage != null) {
		alert(errorMessage);
	}
	 function beforeSubmit() {
		 const f = document.memberloginForm;
		//price는 int값이므로 천단위 콤마제거
		 
		 f.submit();
	 }
		function confirmDelete() {
			if (confirm("정말 삭제하시겠습니까?")) {
				document.getElementById("btnDelete").type = "submit";
				document.forms[0].submit();
			}
		}
	</script>
</th:block>
</html>