<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/mebership.css" />

</th:block>
<div layout:fragment="content">

	<!-- content-->
	<div id="content">
		<form role="form" action="/login/update" method="post"
			th:object="${memberFormDto}">
			
			<!-- ID -->
			<div>
				<h3 class="join_title">
					<label for="userId">아이디(수정불가)</label>
				</h3>
				<span class="box int_id"> <input type="text" class="int"
					maxlength="20" placeholder="아이디 입력(6~20자)" th:field="*{userId}"
					readonly>
				</span> <span class="error_next_box"> </span> <span class="step_url"></span>
			</div>

			<!-- NAME -->
			<div>
				<h3 class="join_title">
					<label th:for="name">이름</label>
				</h3>
				<span class="box int_name"> <input type="text" class="int"
					maxlength="20" placeholder="이름을 입력해주세요" th:field="*{memberName}">
				</span> <span class="error_next_box"></span>
				<p th:if="${#fields.hasErrors('memberName')}"
					th:errors="*{memberName}" class="fieldError">Incorrect Data</p>
			</div>

			<!-- address -->
			<div>
				<h3 class ="join_title">
					<label th:for="address" class="text-black">주소</label> <input
						type="button" class="btn btn-primary mb-3 "
						onclick="sample6_execDaumPostcode()" value="우편번호 찾기"
						style="width: 150px;">
				</h3>
				<div class="input-group">
					<input type="text" th:field="*{addressNo}" aria-label="First name"
						class="form-control" placeholder="우편번호" style="width: 30%">
					<input type="text" th:field="*{address}" aria-label="Last name"
						class="form-control" placeholder="주소" style="width: 70%">
				</div>
				<input type="text" class="form-control" placeholder="상세주소를 입력해주세요"
					th:field="*{addressDetail}">
				<p
					th:if="${#fields.hasErrors('addressDetail') || #fields.hasErrors('address') || #fields.hasErrors('addressNo')}"
					th:errors="*{addressDetail}" class="fieldError">Incorrect Data</p>
			</div>
			
			<!-- EMAIL -->
			<div>
				<h3 class="join_title">
					<label th:for="email">이메일<span class="optional"></span></label>
				</h3>
				<span class="box int_email"> <input type="email" id="email"
					class="int" maxlength="100" placeholder="이메일을 입력해주세요"
					th:field="*{email}">
				</span> <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
					class="fieldError">Incorrect Data</p>
			</div>

			<!-- MOBILE -->
			<div>
				<h3 class="join_title">
					<label th:for="tel">휴대전화</label>
				</h3>
				<span class="box int_mobile"> <input type="tel" id="mobile"
					class="int" maxlength="16" placeholder="전화번호 입력" th:field="*{tel}">
				</span> <span class="error_next_box"></span>
				<p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"
					class="fieldError">Incorrect Data</p>
			</div>

			<!-- JOIN BTN-->
			<div class="btn_area">
				<button type="submit" id="btnUpdate">
					<span>수정하기</span>
				</button>
				<button type="button" id="btn-danger"
					onclick="deleteMember()">회원탈퇴</button>
			</div>
			
			<input type="hidden" th:field="*{birth}">
			<input type="hidden" name="password" value="유효성 검사 통과용">
			<input type="hidden" id="memberIdInput"
				th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		</form>

	</div>

</div>
<th:block layout:fragment="script">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script th:inline="javascript">
		var errorMessage = [[${errorMessage}]];
		
		if(errorMessage != null) {
			alert(errorMessage);
		}
		
		function beforeSubmit() {
			const f = document.memberloginForm;
			
			f.submit();
		}
		function deleteMember() {
		    const deleteConf = confirm("탈퇴하시겠습니까?");
		    var userId = $("#userId").val();
		    
		    if (deleteConf) {
		        var token = $("meta[name='_csrf']").attr("content");
		        var header = $("meta[name='_csrf_header']").attr("content");
	
		        var url = "/login/" + userId + "/delete";
	
		        $.ajax({
		            url: url,
		            type: "DELETE",
		            contentType: "application/json",
		            beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
		            cache: false,
		            success: function(result, status) {
		            	alert('탈퇴했습니다.');
		                location.href='/logout';
		            },
		            error: function(jqXHR, status, error) {
		                if (jqXHR.status == '401') {
		                    alert('로그인 후 이용해주세요.');
		                    location.href = '/login';
		                } else {
		                    alert(jqXHR.responseText);
		                }
		            }
		        });
		    }
		}
		
		function sample6_execDaumPostcode() {
			new daum.Postcode(
					{
						oncomplete : function(data) {
							// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

							// 각 주소의 노출 규칙에 따라 주소를 조합한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var addr = ''; // 주소 변수
							var extraAddr = ''; // 참고항목 변수

							//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
							if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
								addr = data.roadAddress;
							} else { // 사용자가 지번 주소를 선택했을 경우(J)
								addr = data.jibunAddress;
							}

							// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
							if (data.userSelectedType === 'R') {
								// 법정동명이 있을 경우 추가한다. (법정리는 제외)
								// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
								if (data.bname !== ''
										&& /[동|로|가]$/g.test(data.bname)) {
									extraAddr += data.bname;
								}
								// 건물명이 있고, 공동주택일 경우 추가한다.
								if (data.buildingName !== ''
										&& data.apartment === 'Y') {
									extraAddr += (extraAddr !== '' ? ', '
											+ data.buildingName
											: data.buildingName);
								}
								// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
								if (extraAddr !== '') {
									extraAddr = ' (' + extraAddr + ')';
								}
								// 조합된 참고항목을 해당 필드에 넣는다.
								document.getElementById("addressDetail").value = extraAddr;

							} else {
								document.getElementById("addressDetail").value = '';
							}

							// 우편번호와 주소 정보를 해당 필드에 넣는다.
							document.getElementById('addressNo').value = data.zonecode;
							document.getElementById("address").value = addr;
							// 커서를 상세주소 필드로 이동한다.
							document.getElementById("address").focus();
						}
					}).open();
		}
	</script>
</th:block>
</html>