<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>


<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/bookDetail.css" />
</th:block>

<div layout:fragment="content">
	<div class="top">
		<th:block th:each="book, status: ${books}">
			<div class="content">
				<div class="book-content">
					<div class="bookimg">
						<img th:src="${book.bookImgDtoList[0].imgUrl}" class="img">
					</div>
					<div class="bookdetail">
						<h2 id="bookName" style="font-weight: bolder"
							th:text="${book.bookName}"></h2>
						<p id="author" th:text="${book.author}"></p>
						<h5 style="font-weight: bold">책 소개</h5>
						<p th:text="${book.bookIntroduction}"></p>
						<div class=button>
							<button type="button" class="like" onclick="like()">
								<i class="fa-solid fa-heart"></i>&nbsp;찜하기
							</button>
							<button type="button" class="rent" th:onclick="rent([[${book.isbn}]])">
								<i class="fa-solid fa-cart-shopping"></i>&nbsp;대여하기
							</button>
						</div>
					</div>
				</div>
				<div data-v-4edfbce0="" class="book-info-detail slide-container"
					data-scroll-move="false">
					<ul data-v-4edfbce0="" class="slide-wrapper">
						<li data-v-4edfbce0="" class="slide-item">
							<p data-v-4edfbce0="">카테고리</p> <strong data-v-4edfbce0="">
								<a data-v-4edfbce0="" th:text="${book.category}"></a>
						</strong>
						<li data-v-4edfbce0="" class="slide-item">
							<p data-v-4edfbce0="">페이지</p> <strong data-v-4edfbce0=""
							th:text="${book.page}"></strong>
						</li>
						<li data-v-4edfbce0="" class="slide-item">
							<p data-v-4edfbce0="">출판사</p> <strong data-v-4edfbce0="">
								<a data-v-4edfbce0="" th:text="${book.publisher}"></a>
						</strong>
						</li>
						<li data-v-4edfbce0="" class="slide-item">
							<p data-v-4edfbce0="">출간일</p> <strong data-v-4edfbce0=""
							th:text="${book.publicationDate}"></strong>
						</li>
						<li data-v-4edfbce0="" class="slide-item">
							<p data-v-4edfbce0="">ISBN</p> <strong data-v-4edfbce0=""
							th:text="${book.isbn}" id="isbn"></strong>
						</li>
					</ul>
				</div>
			</div>
			<div class="bookindex">
				<p class="d-inline-flex gap-1">
					<a class="btn btn-primary" data-bs-toggle="collapse"
						href="#collapseExample" role="button" aria-expanded="false"
						aria-controls="collapseExample"
						style="background-color: white; color: black; border-style: none; font-weight: bolder">
						목차 </a>
				</p>
				<div class="collapse" id="collapseExample">
					<div class="card card-body" th:text="${book.contents}"></div>
				</div>
			</div>
			<div class="bookindex">
				<p class="d-inline-flex gap-1">
					<a class="btn btn-primary" data-bs-toggle="collapse"
						href="#collapseExample" role="button" aria-expanded="false"
						aria-controls="collapseExample"
						style="background-color: white; color: black; border-style: none; font-weight: bolder">
						저자 소개 </a>
				</p>
				<div class="collapse" id="collapseExample">
					<div class="card card-body">Some placeholder content for the
						collapse component. This panel is hidden by default but revealed
						when the user activates the relevant trigger.</div>
				</div>
			</div>
			<div class="bookindex bookindex-image">
				<img src="/images/aladin.png" class="aladin">
				<h6>알라딘</h6>
			</div>
			
			<div class="review">
				<h6 style="font-weight: bolder;">리뷰</h6>
				<ul class="review-profile" th:if="${reviews.isEmpty()}">
					<li>
						<p>등록된 리뷰가 없습니다.</p>
					</li>
				</ul>
				<ul class="review-profile" th:unless="${reviews.isEmpty()}">
					<li th:each="review : ${reviews}">
						<div class="profile">
							<img src="/images/name.jpg" class="profile-img">
						</div>
						<div class="review-content">
							<p class="num" th:text="${review.reviewNumber}"></p>
							<a class="contents" th:text="${review.content}"></a>
						</div>
					</li>
				</ul>
			</div>
			<form action="/book/bookDetail/{isbn}/review" method="post"
				name="myForm" enctype="multipart/form-data" class="review-form">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}">
				<div class="review-input">
					<input type="text" name="reviews" placeholder="리뷰를 입력하세요.">
				</div>
				<div class="review-register">
					<button type="button" class="review-button" onclick="sendIt()">등록하기</button>
				</div>
			</form>
		</th:block>
	</div>
</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function () {
			var errorMessage = [[${errorMessage}]];
			if (errorMessage != null) {
				alert(errorMessage);
			}
		});
		
		const sendIt = () => {
			var f = document.myForm;
			str = f.reviews.value;
			str = str.trim();
			if (!str) {
				alert("\n내용을 입력하세요.");
				f.reviews.focus();
				return;
			}
			f.submit();
		}
		
		function like() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			var url = "/book/bookDetail/likeBook";
			var data = {
				isbn: $("#isbn").text()    // Assuming that the ISBN is inside an element with id "isbn"
			};
			$.ajax({
				type: "POST",
				url: url,
				beforeSend: function(xhr) {
			        xhr.setRequestHeader(header, token); // CSRF 토큰을 요청 헤더에 설정
			    },
				contentType: "application/json",
				data: JSON.stringify(data), // Send the data object directly without stringifying
				dataType: "json",
				cache: false,
				success: function (result, status) {
					if (result === -1) {
		                alert("이미 찜한 책입니다.");
		            } else {
		                alert("찜 등록이 완료되었습니다.");
		            }
				},
				error: function (xhr, textStatus, errorThrown) {
					alert("찜하기 실패: " + xhr.responseText);
					
				}
			});
		}
		
		function rent(isbn) {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			$.ajax({
				type: "POST",
				url: "/book/bookDetail/rent/" + isbn,
				contentType: "application/json",
				beforeSend: function(xhr) {
			        xhr.setRequestHeader(header, token);
			    },
			    success: function(result, status) {
			    	if(result === -1) {
			    		alert("이미 대여중인 책입니다.");
			    	} else {			    		
				    	alert("도서 대여를 완료했습니다.");
				    	location.href='/mypage/rentlist';
			    	}
			    },
			    error: function(jqXHR, status, error) {
			    	if(jqXHR.status == '401'){
	                    alert('로그인 후 이용해주세요');
	                    location.href='/login';
	                } else if(jqXHR.status == '403') {
	                	alert('이용권 구매가 필요합니다.');
	                	location.href='/payment';
	                } else{
	                    alert(jqXHR.responseText);
	                }
			    }
			});
		}
		
		
	</script>
</th:block>
</html>