<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/bookDetail.css" />
</th:block>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
</head>
<div layout:fragment="content">

	<div class="top">
		<th:block th:each="book, status: ${books}">
			<div class="content">
				<div class="book-content">
					<div class="bookimg">
						<img src="/images/book1.jpg" class="img">
					</div>
					<div class="bookdetail">
						<h2 id="bookName" style="font-weight: bolder"
							th:text="${book.bookName}"></h2>
						<p id="author" th:text="${book.author}"></p>
						<h5 style="font-weight: bold">책 소개</h5>
						<p th:text="${book.bookIntroduction}"></p>
						<div class=button>
							<button type="button" class="like" onclick="favoriteBook()">
								<i class="fa-solid fa-heart"></i>&nbsp;찜하기
							</button>
							<button type="button" class="rent">
								<i class="fa-solid fa-cart-shopping"></i>&nbsp;대여하기
							</button>
						</div>
					</div>
				</div>
				<div data-v-4edfbce0="" class="book-info-detail slide-container"
					data-scroll-move="false">
					<ul data-v-4edfbce0="" class="slide-wrapper">
						<li data-v-4edfbce0="" class="slide-item">
							<p data-v-4edfbce0="">카테고리</p> <strong data-v-4edfbce0="">
								<a data-v-4edfbce0="" th:text="${book.category}"></a>
						</strong>
						<li data-v-4edfbce0="" class="slide-item">
							<p data-v-4edfbce0="">페이지</p> <strong data-v-4edfbce0=""
							th:text="${book.page}"></strong>
						</li>
						<li data-v-4edfbce0="" class="slide-item">
							<p data-v-4edfbce0="">출판사</p> <strong data-v-4edfbce0="">
								<a data-v-4edfbce0="" th:text="${book.publisher}"></a>
						</strong>
						</li>
						<li data-v-4edfbce0="" class="slide-item">
							<p data-v-4edfbce0="">출간일</p> <strong data-v-4edfbce0=""
							th:text="${book.publicationDate}"></strong>
						</li>
						<li data-v-4edfbce0="" class="slide-item">
							<p id="isbn" data-v-4edfbce0="">ISBN</p> <strong
							data-v-4edfbce0="" th:text="${book.isbn}"></strong>
						</li>
					</ul>
				</div>
			</div>

			<div class="bookindex">
				<p class="d-inline-flex gap-1">
					<a class="btn btn-primary" data-bs-toggle="collapse"
						href="#collapseExample" role="button" aria-expanded="false"
						aria-controls="collapseExample"
						style="background-color: white; color: black; border-style: none; font-weight: bolder">
						목차 </a>
				</p>
				<div class="collapse" id="collapseExample">
					<div class="card card-body" th:text="${book.contents}"></div>
				</div>
			</div>
			<div class="bookindex">
				<p class="d-inline-flex gap-1">
					<a class="btn btn-primary" data-bs-toggle="collapse"
						href="#collapseExample" role="button" aria-expanded="false"
						aria-controls="collapseExample"
						style="background-color: white; color: black; border-style: none; font-weight: bolder">
						저자 소개 </a>


				</p>
				<div class="collapse" id="collapseExample">
					<div class="card card-body">Some placeholder content for the
						collapse component. This panel is hidden by default but revealed
						when the user activates the relevant trigger.</div>
				</div>
			</div>

			<div class="bookindex bookindex-image">
				<img src="/images/aladin.png" class="aladin">
				<h6>알라딘</h6>
			</div>


			<div class="review">
				<h6 style="font-weight: bolder;">리뷰</h6>
				<ul class="review-profile">
					<li>
						<div class="profile">
							<img src="/images/name.jpg" class="profile-img">
						</div>
						<div class="review-content">
							<p class="num">리뷰번호</p>
							<a class="contents">내용</a>
						</div>
					</li>
				</ul>
				<div class="myreview">
					<div class="myprofile">
						<img src="/images/profile.jpg" class="profile-img">
					</div>
					<div class="review-input">
						<input type="text" name="reviews" placeholder="리뷰를 입력하세요.">
					</div>
					<div class="review-register">
						<button type="button" class="review-button" onclick="sendIt()">
							등록하기</button>
					</div>
				</div>
			</div>
		</th:block>
	</div>


</div>

<th:block layout:fragment="script">

	<script th:inline="javascript">
	
	$(document).ready(function(){
		
	});
	
		var errorMessage = [[${errorMessage}]];
		if (errorMessage != null) {
			alert(errorMessage);
		}

		const sendIt = () => {

			var f = document.myForm;

			str = f.reviews.value;
			str = str.trim();
			if (!str) {
				alert("\n내용을 입력하세요.");
				f.reviews.focus();
				return;
			}

			f.submit();

		}
		
		var errorMessage = [[${errorMessage}]];
        if (errorMessage != null) {
            alert(errorMessage);
        }

        function favoriteBook() {
           
        	var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
        	
        	var url = "/book/bookDetail/likeBook";
        	
            var paramData = {
            		isbn = $("#isbn").val(),
            		bookName = $("#bookName").val(),
            		author = $("#author").val()
            }
            
            var param = JSON.stringify(paramData);
            
            $.ajax({
                type: "POST",
                url: url,
                contentType : "application/json",
                data: param,
                dataType : "json",
				cache : false,
				success : function(result, status) {
					alert("주문이 완료 되었습니다." + result);
					//location.href = '/';
				},
                error: function(xhr, textStatus, errorThrown) {
                    alert("찜하기 실패: " + xhr.responseText);
                }
            });
        }
	</script>

</th:block>

</html>