<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<footer th:fragment="footer" class="footer_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
				
					<div class="footer-content">
						<div class="footer-top">
							<div class="footer-logo">
								<a href="/">
									<img alt="logo" src="/images/logo_gray.png">
								</a>
							</div>
							<div class="footer-sns">
								<span>
									<a href="#">
										<img alt="instagram" src="/images/instagram.png">
									</a>
								</span>
								<span>
									<a href="#">
										<img alt="youtube" src="/images/youtube.png">
									</a>
								</span>
								<span>
									<a href="#">
										<img alt="kakaotalk" src="/images/kakaotalk.png">
									</a>
								</span>
							
							</div>
						</div>
						<div class="footer-menu">
							<a href="#">회사소개</a><span>|</span>
							<a href="#">이용약관</a><span>|</span>
							<a href="#">개인정보처리방침</a><span>|</span>
							<a href="#">고객센터</a><span>|</span>
							<a href="#">콘텐츠 제휴문의</a><span>|</span>
							<a href="#">저작관 / 도서오류 신고</a><span>|</span>
							<a href="#">뷰어다운로드</a><span>|</span>							
						</div>
						<div class="footer-copy">
							<p>Copyright ⓒ 2023 EZEN 북티빙시대</p>
						</div>
					</div>
				
				</div>
			</div>
		</div>	
	</footer>

</html>