<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="footer_section container-fluid">
	<div class="footer-wrap">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="footer-top">
				<div class="footer-logo">
					<a href="/">
						<h6 style="color: #fff;"><strong> ㈜EZEN 북티빙 시대</strong></h6>
					</a>
				</div>
				<div class="footer-sns">
					<span>
						<a><img alt="instagram" src="/images/footer/instagram.png"></a>
					</span>
					<span>
						<a><img alt="youtube" src="/images/footer/youtube.png"></a>
					</span>
					<span>
						<a><img alt="kakaotalk" src="/images/footer/kakaotalk.png"></a>
					</span>
				</div>
			</div>
			<div class="footer-menu">
				<div>
					<a>회사소개</a><span>|</span>
					<a>이용약관</a><span>|</span>
					<a>개인정보처리방침</a><span>|</span>
					<a>고객센터</a><span>|</span>
				</div>
				<div>
					<a>콘텐츠 제휴문의</a><span>|</span>
					<a>저작관 / 도서오류 신고</a><span>|</span>
					<a>뷰어다운로드</a><span>|</span>							
				</div>
				
			</div>
			<div class="footer-copy">
				<p>Copyright ⓒ 2023 EZEN 북티빙시대</p>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
</footer>

</html>