<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header" class="header-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 header-box">

				<nav class="main-nav">

					<!-- 로고 -->
					<div class="logo col-lg-2">
						<a href="/"> <img alt="logo" src="/images/header/logo.png">
						</a>
					</div>

					<!-- 메뉴 -->
					<!-- 개발 후 로그인 전/후 메뉴 sec:authorize코드 추가예정  -->
					<div class="col-lg-7 menu-box">
						<ul class="nav_left">
							<li class="menu"><a href="/category/main"> <span>카테고리</span></a></li>
							<li class="menu"><a href="/search/main"> <span>검색</span></a></li>
							<li class="menu"><a href="/question/questionInfo"> <span>문의하기</span></a></li>
							<li class="menu"><a href=""> <span>팔로우</span></a></li>
							<li class="menu"><a href="/mylibrary"> <span>나의서재</span></a></li>
							<li class="menu slide-menu"><a href="javascript:;"> <span>나의정보</span></a>
								<ul class="submenu">
									<li sec:authorize="isAnonymous()"><a href="/login" > <span>개인정보
												수정</span>
									</a></li>
									<li sec:authorize="isAuthenticated()"><a href="/login/update"> <span>개인정보 수정</span>
									</a></li>
									<li><a href="/mypage/rentlist"> <span>대여내역</span>
									</a></li>
									<li><a href="/mypage/commutation"> <span>이용권 관리</span>
									</a></li>
								</ul></li>
						</ul>
					</div>

					<div>
						<ul class="nav_right">

							<li class="admin"><a href="/admin/books" class="admin-btn"> 
									<img alt="admin" src="/images/header/admin.png">

							</a></li>
							<li class="login"><a href="/login" class="login-btn"
								sec:authorize="isAnonymous()"> <img alt="login"src="/images/header/login.png">
							</a></li>
							<li class="logout"><a href="/logout" class="logout-btn"
								sec:authorize="isAuthenticated()"> <img alt="logout" src="/images/header/logout.png">
							</a></li>
						</ul>
					</div>

				</nav>

			</div>
		</div>
	</div>
</header>

</html>