@charset "UTF-8";
/* 추천 키워드 관리 페이지 */
.explanation{
	font-size: 12px;
}

.keywordForm {
	display: flex;
	margin: 0 0 40px 0;
}

.reg-box{
	display: flex;
	padding: 0;
	margin: 20px 0 0 0;
}

.reg-box label{
	padding: 0;
	line-height: 38px;
}

.keyword-type {
	margin-right: 15px;
}

.keyword-name {
	margin-left: 30px; 
}

.reg-box button{
	padding: 0;
	margin-left: 10px;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
}

.reg-box button:hover{
	color: #fff;
}

.rec-keyword-list > tr > td {
	text-align: center;
}

.searchForm {
	margin: 0;
}

.paging-bar {
	margin-bottom: 50px;
}

/* 인기 키워드 관리 페이지 */
.list-wrap {
	margin-top: 30px;
}

.list-wrap > h5 {
	display: flex;
	justify-content: space-between;
}

#appendBtn {
	margin-left: 10px;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
}

#deleteBtn {
	background-color: #6a6a6a;
	margin-left: 10px;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
}

.pop-keyword-list {
	font-size: 12px;
}

.pop-keyword-list th, 
.pop-keyword-list td {
	padding: 0.5rem;
}

.pop-keyword-list > tbody > tr > td {
	text-align: center;
}

.moveBtn {
	padding: 3px 9px;
}

#saveBtn {
	margin-left: 10px;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
}
