@charset "UTF-8";

.table tbody td{
	text-align: center;
	height: auto;
	line-height: inherit;
}

.pagination li{
	margin: 0;
}

.pagination .page-item.active .page-link {
	color: #fff;
	background-color: #ffd360;
	border-color: #ffd360;
}
