@charset "UTF-8";

#checkall {
	accent-color: #ffd360;	
}

#rentChkBox {
	accent-color: #ffd360;
}

.pagination li{
	margin: 0;
}

.pagination .page-item.active .page-link {
	color: #fff;
	background-color: #ffd360;
	border-color: #ffd360;
}

.rentContent {
	text-align: center;
}