@charset "UTF-8";

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #000;
  outline: none;
  box-shadow: none;
}

a:hover,
a:focus {
  color: initial;
}

ul{
	list-style: none
}

.top {
	height: auto;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.book-content {
	min-height: 400px;
	width: 1310px;
	display: flex;
	position: relative;
}

.bookimg {
	height: 400px;
	weight: 250px;
	margin-left: 30px;
	margin-right: 0;
}

.img {
	height: 322px;
	border: 1px solid #eee;
	margin-left: 30px;
	margin-top: 40px;
}

.bookdetail  {
	padding: 50px 40px;
}

.bookIntroduction{
	text-align: justify	;
}

.button {
	margin-top: 80px;
}

.like {
	margin-right: 20px;
	border-style: none;
	background-color: #FFD360;
	border-radius: 50px;
	font-size: 15px;
	padding: 10px 20px;
}

.rent {
	border-style: none;
	background-color: #FFD360;
	border-radius: 50px;
	font-size: 15px;
	padding: 10px 20px;
}

.content .book-info-detail {
	height: 100px;
	background-color: #F5F3EA;
	display: flex;
	padding: 0;
	overflow: hidden;
}

.slide-wrapper {
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.slide-item {
	position: relative;
	border-right: 1px solid #c3c2c2;
	text-align: center;
}

.slide-item:first-child {
	border-left: 1px solid #c3c2c2;
}

.bookindex {
	border-bottom: 1px solid #eee;
	cursor: pointer;
}
#collapseExample{
	height: auto;
}

.book-content{
	height: auto;
	min-height: 100px;
	padding: 20px 40px;
	border: none;
}

.book-content > p{
	margin: 0;
	text-align: left;
}

.book-author-info{
	height: auto;
	min-height: 100px;
	padding: 20px 40px;
	border: none;
	text-align: justify;
}

.btn {
	background-color: white;
	color: black;
	border-style: none;
	margin-left: 50px;
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
}

.btn btn-primary {
	width: 24px;
	height: 24px;
	margin-left: 1100px;
	margin-top: 25px;
}

.down {
	width: 24px;
	height: 24px;
	margin-left: 1000px;
}

.bookindex-image{
	padding: 20px;
	height: 73px;
	display: flex;
	align-items: center;
	justify-content: end;	
	border-bottom: 12px solid #f4f4f4;
}

.aladin {
	margin: 0;
	width: 20px;
}

.aladin-text {
	font-size: 15px;
	color: #aaa;
	margin: 0 20px;
}

.review {
	margin-top: 25px;
	margin-left: 60px;
	
}

.profile {
	width: 32px;
	height: 32px;
	margin: 0;
	padding-top: 20px;
	padding-left: 0;
	display: flex;
	margin-top: 20px;
}

.myprofile {
	width: 32px;
	height: 32px;
	margin-left: 0px;
	margin-top: 10px;
}

.profile-img {
	width: 32px;
	height: 32px;
	border-radius: 70px;
	
}

.review-profile {
	padding-left: 0;
}

.review-content {
	margin-left: 50px;
	margin-top: -25px;
	line-height: 1em;
}

span {
	font-size: 13px;
}

.myreview {
	height: 70px;
	width: 1050px;
	display: flex;
	margin: 0;
	padding-top: 20px;
	margin-right: 50px;
}

.review-input {
	margin: 0;
	padding-left: 60px;
 }

.review-input input {
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	width: 100%;
	height: 50px;
	padding: 10px;
}

.review-register {
	padding-left: 10px;
	margin: 0;
}

.review-button {
	width: 80px;
	height: 35px;
	border-style: none;
	background-color: #FFD360;
	height: 50px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	}

.review-form {
	display: flex;
}

button:hover {
	cursor: pointer;
}