@charset "UTF-8";

.top {
	height: 1200px;
}

.content {
	width: 1310px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.book-content {
	height: 400px;
	width: 1310px;
	display: flex;
	position: relative;
	
}

.bookimg {
	height: 400px;
	weight: 250px;
	margin-left: 30px;
	margin-right: 0;
}

.img {
	height: 322px;
	weight: 220px;
	border: 1px solid #eee;
	margin-left: 30px;
	margin-top: 40px;
}

.bookdetail {
	height: 400px;
	margin-top: 70px;
	margin-left: 50px;
}

.button {
	margin-top: 80px;
}

.like {
	height: 35px;
	weight: 90px;
	margin-right: 20px;
	border-style: none;
	background-color: #FFD360;
	border-radius: 20px;
	font-size: 13px;
}

.rent {
	height: 35px;
	weight: 90px;
	border-style: none;
	background-color: #FFD360;
	border-radius: 20px;
	font-size: 13px;
}

.content .book-info-detail {
	height: 100px;
	background-color: #F5F3EA;
	display: flex;
}

.slide-wrapper {
	display: inline-flex;
	padding-top: 15px;
	padding-left: 0;
}

.slide-item {
	width: 220px;
	position: relative;
	border-right: 1px solid #c3c2c2;
	text-align: center;
}

.slide-item:first-child {
	border-left: 1px solid #c3c2c2;
}

.bookindex {
	border-bottom: 1px solid #eee;
	cursor: pointer;
}

.btn {
	background-color: white;
	color: black;
	border-style: none;
	margin-left: 50px;
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
}

.btn btn-primary {
	width: 24px;
	height: 24px;
	margin-left: 1100px;
	margin-top: 25px;
}

.down {
	width: 24px;
	height: 24px;
	margin-left: 1000px;
}

.bookindex-image{
	height: 73px;
	display: flex;
	align-items: center;	
	border-bottom: 12px solid #f4f4f4;
}

.aladin {
	width: 35px;
	height: 35px;
	margin-left: 60px;
}

h6 {
	margin: 0;
	padding-right: 1150px;	
}

.review {
	margin-top: 25px;
	margin-left: 60px;
	
}

.profile {
	width: 32px;
	height: 32px;
	margin: 0;
	padding-top: 20px;
	padding-left: 0;
	display: flex;
	margin-top: 20px;
}

.myprofile {
	width: 32px;
	height: 32px;
	margin-left: 0px;
	margin-top: 10px;
}

.profile-img {
	width: 32px;
	height: 32px;
	border-radius: 70px;
	
}

.review-profile {
	padding-left: 0;
}

.review-content {
	margin-left: 50px;
	margin-top: -25px;
	line-height: 1em;
}

span {
	display: block;
	font-size: 13px;
}

.myreview {
	height: 70px;
	width: 1050px;
	display: flex;
	margin: 0;
	padding-top: 20px;
	margin-right: 50px;
}

.review-input {
	margin: 0;
	padding-left: 10px;

}

input {
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	height: 50px;
	width: 900px;
}

.review-register {
	padding-left: 10px;
	
}

.review-button {
	width: 80px;
	height: 35px;
	border-style: none;
	background-color: #FFD360;
	height: 50px;
	border-radius: 5px;
}