@charset "UTF-8";

.category {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}


.category-box {
	border: 1px solid #B9B4B4;
	border-radius: 5px;
	display: flex;
	width: 100%;
	margin-top: 30px;
	padding-left: 10px;
	cursor: pointer;
}


.category-maininfo {
	width: 80%;
	margin-top: 30px;
	margin-left: 15px;
}

.category-subinfo {
	font-size: 0.8rem; 
	color: gray;
}

.category-name {
	font-size: 1.3rem;
	font-weight: bold;
	
}

.category-img {
	width: 15%;
	height: 100%;
	margin: 0;
}