@charset "UTF-8";

.top{
	padding-bottom: 80px;
}

.question-content {
	display: flex;
	justify-content:center;
	margin: 0;
	margin-top: 50px;
}

.question-title{
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.que1{
	text-align: center;
	margin: 30px 0;
}

.que1 h6{
	font-size: 22px;
}


.buttons_list {
	text-align: center;
	padding-top: 25px;
}

.buttons_list>.qna-create_list {
	width: 300px;
	height: 35px;
	padding: 0;
	margin: 0;
	background-color: white;
	color: black;
	border-radius: 10px 0 0 10px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid rgb(233, 233, 233);
	border-width: 1px 0 1px 1px;
}

.buttons_list>.qna-list_list {
	width: 300px;
	height: 35px;
	padding: 0;
	margin: 0;
	background-color: #3B3A3A;
	color: white;
	border-radius: 0 10px 10px 0;
	border: 1px solid rgb(233, 233, 233);
	border-width: 1px 1px 1px 0;
	font-size: 15px;
	font-weight: bold;
}

.qna-contents {
	display:flex;
	padding: 20px;
	border-bottom: 1px solid rgb(233, 233, 233);
	padding-top: 30px;
}

.qna-status {
	display:flex;
	margin: 0;
}

.qna-status>div{
	margin: 0;
}

.qna-contents p,
.qna-contents a {
	margin: 0;
}

.status{
	width: 120px;
	background-color: #FFD360;
	border-radius: 30px;
	border: 1px solid #eee; 
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	margin: 0;
	color: #fff;
	box-shadow: 2px 2px 2px #eee;
	font-size: 13px;
}

.title-box{
	margin: 10px 0;
}

.title a{
	font-weight: bold;
	font-size: 20px;
}

.qna-date {
	color: #bbb;
}

.delete-box{
	display: flex;
	align-items: center;
	margin: 0;
}

.delete{
	background-color: #FFD360;
	border: none;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	color: #000;
	border: 0.5px solid #000;
}
