@charset "UTF-8";

*{
	padding: 0;
}

html {
	width: 96rem;
	font-size: 20px;
}

body{
	background-color: #fff;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-size: 1rem;
}

a {
	font-family: Poppins-Regular;
	font-size: 0.7rem;
	line-height: 1.7;
	color: #666;
	margin: 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #000;
  outline: none;
  box-shadow: none;
}

a:hover,
a:focus {
  color: initial;
}

ul{
	list-style: none
}

.site-wrap {
	padding: 0;
}

/* sec: header */

.header-section {
	height: 100px;
	border-bottom: 1px solid #eee;
	padding: 0;
	z-index: 100;
}

.header-wrap{
	height: 100%;
	padding: 0;
}

.position{
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;
}

.main-nav{
	height: 100px;
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding: 0.4rem 0.6rem;
	margin: 0 auto;
}

.logo{
	padding: 0.4rem;
	height: 100%;	
	margin: 0;
}

.logo>a {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 100%;
}

.logo img{
	width: 7.5rem;
	
}

.menu-box {
	margin: 0;
	display: flex;
	justify-content: left;
}

.nav_left{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
	margin: 0;	
}

nav .menu{
	height: 2rem;
	line-height: 2rem;
	display: inline-block;
	padding: 0 1 !important;
	text-align: center;
	position: relative;
}

nav li a {
	padding: 0.75rem;
	line-height: 100%;
}

nav .submenu{
	display: none;
	width: 	7.5rem;
	position:absolute; 
	padding: 0;	
	border: 1px solid #eee;
	background-color: #fff;
}

nav .slide-menu:hover .submenu{
	display: block !important;
    z-index: 100 !important;
}

nav .submenu li {
	padding: 0.25rem 0;
}

nav .submenu a{
	text-align: center;
}

nav .submenu li:hover{
	background-color:#FFD360;
	font-weight: bold;
}

.login-box {
	display: block;
	margin: 0 auto;
}

.nav_right{
	height: 2rem;
	line-height: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
}

.nav_right li {
	display: inline-block;
	margin: 0 0.25rem;
}

.about {
	margin-left: 0.5rem !important;
}

.about_btn {
	font-size: 0.65rem	;
}

.admin-btn img{
	width: 1.25rem;
}

.login-btn img{
	width: 3.5rem;
} 

.logout-btn img{
	width: 3.5rem;
}

.navbar_toogleBtn {
	display: none;
	position: absolute;
	top:  1.5rem;
	right: 2rem;
	font-size: 1.2rem;
	cursor: pointer;
}

/* sec: content : admin 페이지 공통 양식*/

.top{
	height: 100%;
}

.section-wrap .menu{
	width: 100%;
	height: auto;
	background-color: #ddd;	
	padding: 0;
}

.section-wrap .menu ul {
	padding: 0;
	padding-left: 20px;
	margin-top: 50px;
}

.section-wrap .menu li {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}

.section-wrap .menu li a {
	height: 40px;
	line-height: 40px; 
}

.section-wrap .menu li:hover {
	background-color: #fff;
	font-weight: bold;
	border-radius: 20px 0 0 20px;
}

.section-wrap .menu li:focus {
	background-color: #fff;
	font-weight: bold;
	border-radius: 20px 0 0 20px;
}

.section-wrap .menu li:active {
	background-color: #fff;
	font-weight: bold;
	border-radius: 20px 0 0 20px;
}

.section-wrap .menu li>a{
	display: block;
	width:100%;
}

.top-title {
	margin-top: 50px; 
}

.top-title h4{
	font-weight: bold;
}

form{
	margin-top: 40px;
	margin-bottom:  50px;
}

table {
	border-bottom: 1px solid #000 !important;	
}

table>thead>tr>th {
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
}
 
table>tbody {
	border-bottom: 1px solid #eee !important;		
}

table>tbody:last-child {
	border-bottom: none !important;		
}

.table tbody td{
	text-align: center;
	line-height: inherit;
}

.button{
	display: flex;
}

.button div {
	padding: 0;
	display: flex;
	justify-content: flex-end;	
}

button:hover,
button:active,
button:focus {
	outline: none !important;
	box-shadow: none !important;
}

.button .btn{
	color: #fff;
	font-weight: bold;
	border-radius: 0;	
}

.reg_btn {
	background-color: #FFD360;	
}

.delete_btn{
	background-color: #ec6b6b;	
}

.button .btn:hover{
	color: #fff;
}

.search-bar {
	margin-top: 30px;
	margin-bottom: 50px;
}

.search-bar div {
	padding: 0;
}

.search-bar select{
	border-right: none;
}

.search-bar .form-control{
	border-radius: 0;
}

.search-btn{
	background-color: #FFD360;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
}

.search-btn:focus, .search-btn:active, .search-btn:hover{
	outline: none;	
	color: #fff;
}

form nav {
	margin-top: 40px;
}

.page-item{
	color: #FFD360;
}


/* 도서등록 페이지 */
.bookReg-form-wrap {
	margin-bottom: 20px;
}

.bookReg-form-wrap input {
	padding-left: 10px;
}

.page-to-isbn{
	display: flex;
}

.button{
	margin-top: 30px;
	margin-bottom: 50px;
}
/* 도서등록 페이지 끝 */

/* 회원정보 페이지 */

.table th{
	border-top: 1px solid #000 !important;
	text-align:center; 
}

.table td{
	border-top: 1px solid #000 !important;
}

.goBack-link {
	display: flex;
	justify-content: flex-end;
	margin: 0;
}

.goBack {
	color: #fff;
	font-weight: bold;
	border-radius: 0;	
	background-color: #FFD360;
	margin: 0;
}
/* 회원정보 페이지 끝 */

/* 문의답변 페이지 */

.answer-title{
	height: 40px;
	line-height:40px;
}

.answer-content{
	margin-top: 20px;
}

.answer-btn{
	margin-top: 20px;
	background-color:#FFD360; 
}

.button{
	padding: 0;
}
/* 문의답변 페이지 끝 */


/* 공지사항 등록 */
.dropdown{
	display:flex;
	justify-content: start; 
}

.notice-status{
	margin:0;
}

.notice-status select{
	width: 100px;
}

.notice-contents{
	margin-top: 20px;
}

/* 공지사항 등록 끝 */

/* sec: content : admin  페이지 공통 양식 끝 */

/* sec: footer */
.footer_section{
	height: auto;
	background-color: #FFD360;
	padding: 2.5rem 0;
}

.footer-wrap{
	display: flex;
	height: auto;
}

.footer-top{
	height: 4rem;
	line-height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo{
	margin: 0;
	font-size: 0.75rem;
	font-weight: bold;
}

.footer-logo img{
	width: 7.5rem;
}

.footer-sns{
	margin:0;
	display: flex;
	justify-content: flex-end;
}

.footer-sns span{
	margin: 0 0.5rem;
}

.footer-sns img{
	width: 1.5rem;
}

.footer-menu{
	display:flex;
	justify-content:center;
	height: auto;
	font-size: 0.6rem;
	color: #fff;
	margin: 2rem 0;
}

.footer-menu>div{
	display: flex;
}

.footer-menu a{
	color: #fff;
	display: flex;
	align-items: center;
}

.footer-menu span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.footer-content .footer-copy{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	display:inline-block;
	position:absolute;
	bottom: 1.5rem;
	font-size: 0.6rem;
	color: #fff;
	font-weight: bold;
}

.footer-copy p{
	width: 100%;
	text-align: center;
	color: #fff;
}

@media screen and ( max-width: 1200px ){
	.position{
		max-width: 57rem;
	}
	
	.footer-menu{
		flex-direction: column;	
	}
	
	.footer-menu > div {
		justify-content: center;
	}
}

@media screen and ( max-width: 992px ){
	.header-section{
		position: relative;
	}
	
	.position{
		max-width: 48rem;
	}
	
	.main-nav {
		display: block;
		height: auto;
		flex-direction: column;
		background-color: #fff;
		z-index: 500;
	}
	
	.logo a{
		justify-content: left;
	}
		
	.menu-box{
		width: 100%;
		display: none;
		height: auto;
		margin: 0 auto;
	}
	
	.nav_left {
		flex-direction: column;
	}
	
	.nav_left li{
		width: 100%;
		text-align: center;
	} 	
	
	nav li:hover {
		background-color: #FFD360;
		font-weight: bold;
	}
	
	.slide-menu{
		position: relative
	}
	
	.submenu{
		position: absolute;
		top: 2rem;
		left: 29rem;
	}
	
	.login-box{
		width: 100%;
		display: none;
	}
		
	.nav_right{
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.nav_right li {
		width: 100%;
		text-align: center;
	}
	
	.navbar_toogleBtn{
		display: block;
	}
	
	.menu-box.active,
	.login-box.active {
		display: block;
	}
	
}

@media screen and ( max-width: 768px ){
	.position{
		max-width: 36rem;
	}
	
}

@media screen and ( max-width: 576px ){
	.position{
		max-width: 27rem;
	}
}








