@charset "UTF-8";
*{
	margin: 0 auto;
}
body{
	background-color: #fff;
	height: 100%;
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666;
	margin: 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #000;
  outline: none;
  box-shadow: none;
}

a:hover,
a:focus {
  color: initial;
}

ul{
	list-style: none
}

.site-wrap {
	padding: 0;
}

/* sec: header */
.header-section{
	display:flex;
	align-items:center;
	height: 100px;
	border-bottom: 1px solid #eee;
}

.header-box{
	padding: 0;
}

.main-nav{
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 0;
	margin: 0 auto;
}

.logo{
	margin: 0;
	display: flex;
	align-items: center;
}

.logo img{
	width:150px;
}

.nav_left{
	height: 40px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
	margin: 0;	
}

nav .menu{
	width: auto;
	height: 40px;
	line-height: 40px;
	display: block;	
	padding: 0 !important;
	margin: 0 10px !important;
	text-align: center;
	position: relative;
}

nav .menu a{
	width: auto;
	padding: 0 10px;
}

nav li:hover {
	font-weight: bold;
}

nav .submenu{
	display: none;
	width: 150px;
	position:absolute; 
	padding: 0;	
	border: 1px solid #eee;
	background-color: #fff;
}

nav .slide-menu:hover .submenu{
	display: block !important;
    z-index: 100 !important;
}

nav .submenu li {
	padding: 5px 0;
}

nav .submenu a{
	text-align: center;
}

nav .submenu li:hover{
	background-color:#FFD360;
	font-weight: bold;
}

.nav_right{
	height: 40px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}

.nav_right li {
	width:auto;
	margin: 0 10px;
}

.nav_right li a{
	width: auto;
}

.admin-btn img{
	width: 30px;
}

.login-btn img{
	width: 80px;
} 

.logout-btn img{
	width: 80px;
}

/* sec: content : admin 페이지 공통 양식*/

.top{
	height: 100%;
}

.section-wrap .menu{
	width: 100%;
	height: auto;
	background-color: #ddd;	
	padding: 0;
}

.section-wrap .menu ul {
	padding: 0;
	padding-left: 20px;
	margin-top: 50px;
}

.section-wrap .menu li {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}

.section-wrap .menu li a {
	height: 40px;
	line-height: 40px; 
}

.section-wrap .menu li:hover {
	background-color: #fff;
	font-weight: bold;
	border-radius: 20px 0 0 20px;
}

.section-wrap .menu li:focus {
	background-color: #fff;
	font-weight: bold;
	border-radius: 20px 0 0 20px;
}

.section-wrap .menu li:active {
	background-color: #fff;
	font-weight: bold;
	border-radius: 20px 0 0 20px;
}

.section-wrap .menu li>a{
	display: block;
	width:100%;
}

.top-title {
	margin-top: 50px; 
}

.top-title h4{
	font-weight: bold;
}

form{
	margin-top: 40px;
	margin-bottom:  50px;
}

table {
	border-bottom: 1px solid #000 !important;	
}

table>thead>tr>th {
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
}
 
table>tbody {
	border-bottom: 1px solid #eee !important;		
}

table>tbody:last-child {
	border-bottom: none !important;		
}

.table tbody td{
	text-align: center;
	line-height: inherit;
}

.button{
	display: flex;
}

.button div {
	padding: 0;
	display: flex;
	justify-content: flex-end;	
}

button:hover,
button:active,
button:focus {
	outline: none !important;
	box-shadow: none !important;
}

.button .btn{
	color: #fff;
	font-weight: bold;
	border-radius: 0;	
}

.reg_btn {
	background-color: #FFD360;	
}

.delete_btn{
	background-color: #ec6b6b;	
}

.button .btn:hover{
	color: #fff;
}

.search-bar {
	margin-top: 30px;
	margin-bottom: 50px;
}

.search-bar div {
	padding: 0;
}

.search-bar select{
	border-right: none;
}

.search-bar .form-control{
	border-radius: 0;
}

.search-btn{
	background-color: #FFD360;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
}

.search-btn:focus, .search-btn:active, .search-btn:hover{
	outline: none;	
	color: #fff;
}

form nav {
	margin-top: 40px;
}

.page-item{
	color: #FFD360;
}


/* 도서등록 페이지 */
.bookReg-form-wrap {
	margin-bottom: 20px;
}

.bookReg-form-wrap input {
	padding-left: 10px;
}

.page-to-isbn{
	display: flex;
}

.button{
	margin-top: 30px;
	margin-bottom: 50px;
}
/* 도서등록 페이지 끝 */

/* 회원정보 페이지 */

.table th{
	border-top: 1px solid #000 !important;
	text-align:center; 
}

.table td{
	border-top: 1px solid #000 !important;
}

.goBack-link {
	display: flex;
	justify-content: flex-end;
	margin: 0;
}

.goBack {
	color: #fff;
	font-weight: bold;
	border-radius: 0;	
	background-color: #FFD360;
	margin: 0;
}
/* 회원정보 페이지 끝 */

/* 문의답변 페이지 */

.answer-title{
	height: 40px;
	line-height:40px;
}

.answer-content{
	margin-top: 20px;
}

.answer-btn{
	margin-top: 20px;
	background-color:#FFD360; 
}

.button{
	padding: 0;
}
/* 문의답변 페이지 끝 */


/* 공지사항 등록 */
.dropdown{
	display:flex;
	justify-content: start; 
}

.notice-status{
	margin:0;
}

.notice-status select{
	width: 100px;
}

.notice-contents{
	margin-top: 20px;
}

/* 공지사항 등록 끝 */

/* sec: content : admin  페이지 공통 양식 끝 */



/* sec: footer */
.footer_section{
	background-color: #FFD360;
}

.footer-content{
	height: 300px;
	background-color: #FFD360;
	padding: 50px 0;
	display: block;
	position: relative;
}

.footer-top{
	height: 80px;
	line-height: 80px;
	display: flex;
	justify-content: space-between;
}

.footer-logo{
	margin: 0;
	font-size: 15px;
	font-weight: bold;
}

.footer-logo img{
	width: 150px;
}

.footer-sns{
	margin:0;
	display: flex;
	justify-content: flex-end;
}

.footer-sns span{
	margin: 0 10px;
}

.footer-sns img{
	width:30px;
}

.footer-menu{
	display:flex;
	justify-content:flex-start;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	color: #fff;
	margin: 20px 0;
}

.footer-menu a{
	color: #fff;
	display: flex;
	align-items: center;
}

.footer-menu span{
	margin-left: 10px;
	margin-right: 10px;
}

.footer-content .footer-copy{
	width: 100%;
	height: 40px;
	line-height: 40px;
	display:inline-block;
	position:absolute;
	bottom: 30px;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}

.footer-copy p{
	width: 100%;
	text-align: center;
}