@charset "UTF-8";
*{
	margin: 0 auto;
}
body{
	background-color: #fff;
	height: 100%;
}
.limiter {
	width: 100%;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	display: block;
}

.container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #f2f2f2;
}

.login100-form {
	width: 100%;
}

form {
	display: block;
	margin-top: 0em;
}

.login100-form-title {
	display: block;
	font-family: Poppins-Bold;
	font-size: 30px;
	color: #333;
	line-height: 1.2;
	text-align: center;
}

.p-b-26 {
	padding-bottom: 26px;
}

.p-b-48 {
	padding-bottom: 48px;
}

.login100-form-title i {
	font-size: 60px;
}

.zmdi {
	display: inline-block;
	font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.validate-input {
	position: relative;
}

.wrap-input100 {
	width: 100%;
	position: relative;
	border-bottom: 2px solid #adadad;
	margin-bottom: 37px;
}

.input100 {
	font-family: Poppins-Regular;
	font-size: 15px;
	color: #555;
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 45px;
	background: 0 0;
	padding: 0 5px;
}

input {
	outline: none;
	border: none;
}

button, input {
	overflow: visible;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

[role=button], a, area, button, input, label, select, summary, textarea
	{
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.focus-input100 {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.focus-input100::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 2px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
	background: #6a7dfe;
	background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
	background: -o-linear-gradient(left, #21d4fd, #b721ff);
	background: -moz-linear-gradient(left, #21d4fd, #b721ff);
	background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
	font-family: Poppins-Regular;
	font-size: 15px;
	color: #999;
	line-height: 1.2;
	content: attr(data-placeholder);
	display: block;
	width: 100%;
	position: absolute;
	top: 16px;
	left: 0;
	padding-left: 5px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}

*, ::after, ::before {
	box-sizing: inherit;
}

.validate-input {
	position: relative;
}

.wrap-input100 {
	width: 100%;
	position: relative;
	border-bottom: 2px solid #adadad;
	margin-bottom: 37px;
}

.btn-show-pass {
	font-size: 15px;
	color: #999;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	padding-right: 5px;
	cursor: pointer;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}

.zmdi-eye:before {
	content: '\f15c';
}

.input100 {
	font-family: Poppins-Regular;
	font-size: 15px;
	color: #555;
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 45px;
	background: 0 0;
	padding: 0 5px;
}

.focus-input100 {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.container-login100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 13px;
}

.wrap-login100-form-btn {
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
	border-radius: 25px;
	overflow: hidden;
	margin: 0 auto;
}

.login100-form-bgbtn {
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: #a64bf4;
	background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	top: 0;
	left: -100%;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}

.login100-form-btn {
	font-family: Poppins-Medium;
	font-size: 15px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
}

.text-center {
	text-align: center;
}

.p-t-115 {
	padding-top: 115px;
}

.text-center {
	text-align: center !important;
}

.txt1 {
	font-family: Poppins-Regular;
	font-size: 13px;
	color: #666;
	line-height: 1.5;
}

.txt2 {
	font-family: Poppins-Regular;
	font-size: 13px;
	color: #333;
	line-height: 1.5;
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666;
	margin: 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus {
  color: initial;
}

ul{
	list-style: none
}


/* sec: header */
.header-section{
	display:flex;
	align-items:center;
	height: 100px;
	border-bottom: 1px solid #eee;
}

.header-box{
	padding: 0;
}

.main-nav{
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 0;
	margin: 0 auto;
}

.logo{
	margin: 0;
	display: flex;
	align-items: center;
}

.logo img{
	width:150px;
}

.nav_left{
	width: 520px;
	height: 40px;
	line-height: 40px;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;	
	position: relative;
}

nav .menu{
	width: 120px;
	height: 40px;
	line-height: 40px;
	display: block;	
	padding: 0 !important;
	margin: 0 !important;
	text-align: center;
}

nav li:hover {
	font-weight: bold;
}

nav .submenu{
	display: none;
	width: 150px;
	position:absolute; 
	padding: 0;
	top: 40px;
	left: 435px;	
	border: 1px solid #eee;
	background-color: #fff;
}

nav .slide-menu:hover .submenu{
	display: block !important;
    z-index: 100 !important;
}


nav .submenu li {
	padding: 5px 0;
}

nav .submenu a{
	text-align: center;
}

nav .submenu li:hover{
	background-color:#FFD360;
	font-weight: bold;
}

.nav_right{
	display: flex;
	align-items: center;
	justify-content:flex-end;
	padding: 0;
	margin: 0;
}

.admin-btn img{
	width: 30px;
}

.login-btn img{
	width: 80px;
} 

.logout-btn img{
	width: 80px;
}

/* sec: content : admin 페이지 공통 양식*/

.top{
	height: 100%;
}

.section-wrap .menu{
	width: 100%;
	height: auto;
	background-color: #ddd;	
	padding: 0;
}

.section-wrap .menu ul {
	padding: 0;
	padding-left: 20px;
	margin-top: 50px;
}

.section-wrap .menu li {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}

.section-wrap .menu li:hover {
	background-color: #fff;
	font-weight: bold;
	border-radius: 20px 0 0 20px;
}

.section-wrap .menu li:focus {
	background-color: #fff;
	font-weight: bold;
	border-radius: 20px 0 0 20px;
}

.section-wrap .menu li::after {
	background-color: #fff;
	font-weight: bold;
	border-radius: 20px 0 0 20px;
}

.section-wrap .menu li>a{
	display: block;
	width:100%;
}

.top-title {
	margin-top: 50px; 
}

.top-title h4{
	font-weight: bold;
}

form{
	margin-top: 40px;
}

table {
	border-bottom: 1px solid #000 !important;	
}

table>thead>tr>th {
	border-top: 1px solid #000 !important;
	border-bottom: 1px solid #000 !important;
}
 
table>tbody {
	border-bottom: 1px solid #eee !important;		
}

table>tbody:last-child {
	border-bottom: none !important;		
}

.button{
	display: flex;
}

.button div {
	padding: 0;
	display: flex;
	justify-content: flex-end;	
}

.button .btn{
	color: #fff;
	font-weight: bold;
	border-radius: 0;	
}
.reg_btn {
	background-color: #FFD360;	
}

.delete_btn{
	background-color: #ec6b6b;	
}

.button .btn:hover{
	color: #fff;
}

.search-bar {
	margin-top: 30px;
	margin-bottom: 50px;
}

.search-bar div {
	padding: 0;
}

.search-bar select{
	border-right: none;
}

.search-bar .form-control{
	border-radius: 0;
}

.search-btn{
	background-color: #FFD360;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
}

.search-btn:focus, .search-btn:active, .search-btn:hover{
	outline: none;	
	color: #fff;
}

form nav {
	margin-top: 40px;
}

.page-item{
	color: #FFD360;
}


/* 도서등록 페이지 */
.bookReg-form-wrap {
	margin-bottom: 20px;
}

.bookReg-form-wrap input {
	padding-left: 10px;
}

.page-to-isbn{
	display: flex;
}

.button{
	margin-top: 30px;
	margin-bottom: 50px;
}
/* 도서등록 페이지 끝 */

/* 회원정보 페이지 */

.table th{
	border-top: 1px solid #000 !important;
	text-align:center; 
}

.table td{
	border-top: 1px solid #000 !important;
}

.goBack-link {
	display: flex;
	justify-content: flex-end;
	margin: 0;
}

.goBack {
	color: #fff;
	font-weight: bold;
	border-radius: 0;	
	background-color: #FFD360;
	margin: 0;
}
/* 회원정보 페이지 끝 */


/* 키워드 관리페이지 */
.explanation{
	font-size: 12px;
}

.keyword_reg{
	display: flex;
	margin-bottom: 60px;
}

.reg-box{
	display: flex;
	padding: 0;
	margin-top: 40px;
}

.reg-box label{
	padding: 0;
	margin: 0;
	line-height: 38px;
}

.reg-box input{
	border-radius: 0;	
}

.reg-box button{
	padding: 0;
	margin-left: 10px;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
}

.reg-box button:hover{
	color: #fff;
}
/* 키워드 관리페이지 끝*/

/* 문의답변 페이지 */

.answer-title{
	height: 40px;
	line-height:40px;
}

.answer-content{
	margin-top: 20px;
}

.answer-btn{
	margin-top: 20px;
	background-color:#FFD360; 
}

.button{
	padding: 0;
}
/* 문의답변 페이지 끝 */


/* 공지사항 등록 */
.dropdown{
	display:flex;
	justify-content: start; 
}

.notice-status{
	margin:0;
}

.notice-status select{
	width: 100px;
}

.notice-contents{
	margin-top: 20px;
}

/* 공지사항 등록 끝 */

/* sec: content : admin  페이지 공통 양식 끝 */



/* sec: footer */
.footer_section{
	background-color: #FFD360;
}

.footer-content{
	height: 300px;
	background-color: #FFD360;
	padding: 30px 0;
	display: block;
	position: relative;
}

.footer-top{
	height: 80px;
	line-height: 80px;
	display: flex;
	justify-content: space-between;
}

.footer-logo{
	margin: 0;
	font-size: 15px;
	font-weight: bold;
}

.footer-logo img{
	width: 150px;
}

.footer-sns{
	margin:0;
	display: flex;
	justify-content: flex-end;
}

.footer-sns span{
	margin: 0 10px;
}

.footer-sns img{
	width:30px;
}

.footer-menu{
	width: 700px;
	display:flex;
	justify-content:flex-start;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	color: #fff;
	margin: 20px 0;
}

.footer-menu a{
	color: #fff;
}

.footer-menu span{
	margin-left: 10px;
	margin-right: 5px;
}

.footer-content .footer-copy{
	width: 100%;
	height: 40px;
	line-height: 40px;
	display:inline-block;
	position:absolute;
	bottom: 30px;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}

.footer-copy p{
	width: 100%;
	text-align: center;
}
