@charset "UTF-8";

p {
	margin: 0;
}

.subCategory{
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.subCategory-box {
	border: 1px solid #B9B4B4;
	border-radius: 5px;
/* 	display: flex; */
	width: 100%;
	margin-top: 30px;
	padding-left: 10px;
}

.heartbtn {
	border-radius: 8px;
	width: 90px;
	height: 50px;
	margin-bottom: 20px;
	background-color: #FFD360;
	border-color: white;
	color: white;
}

.heartbtn:hover {
	background-color: #EF8214;
}

.heartbtn:active {
	border-color: white !important;
}


.subcategoryimg {
	padding: 5px;
}

.subCategory-2 {
	padding: 10px;
}

.subCategory-3 {
	display: flex;
	flex-direction: column-reverse;
}

.subCategory-book-name {
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

.subCategory-book-actor {
	color: gray;
	font-size: 0.9rem;
	margin-bottom: 10px;
	font-weight: bold;
}

.subCategory-book-comp {
	font-size: 0.9rem;
}

.subCategory-book-page {
	font-size: 0.9rem;
}