<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<!-- mainCategory 페이지 CSS -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/mainCategory.css" />
</th:block>

<div layout:fragment="content" class="content">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-12 section-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12 test1">

								<div class="top-title">
									<h4>카테고리</h4>
									<hr>
								</div>

								<div class="row maincategory">

									<div class="row-md-6 category">
									<a href="/category/sub">
										<div class="category-box">
											<div  class="category-maininfo">
												<h5 class="category-name">소설</h5>

												<div class="category-subinfo">
													소설,인문,경제경영,자기계발,에세이,과학,사회,역사 등</div>

											</div>
											<div class="category-img">
												<img alt="categoryimg" src="/images/categorytestimg1.JPG"
													style="width: 100%" >
											</div>
										</div>
									</a>
									</div>

									<div class="row-md-6 category">
										<div class="category-box">
											<div  class="category-maininfo">
												<h5 class="category-name">소설</h5>

												<div class="category-subinfo">
													소설,인문,경제경영,자기계발,에세이,과학,사회,역사 등</div>

											</div>
											<div class="category-img">
												<img alt="categoryimg" src="/images/categorytestimg2.JPG"
													style="width: 100%">
											</div>
										</div>
									</div>

									<div class="row-md-6 category">
										<div class="category-box">
											<div style="width: 80%;" class="category-maininfo">
												<h5 class="category-name">소설</h5>

												<div class="category-subinfo">
													소설,인문,경제경영,자기계발,에세이,과학,사회,역사 등</div>

											</div>
											<div class="category-img">
												<img alt="categoryimg" src="/images/categorytestimg1.JPG"
													style="width: 100%">
											</div>
										</div>
									</div>

									<div class="row-md-6 category">
										<div class="category-box">
											<div style="width: 80%;" class="category-maininfo">
												<h5 class="category-name">소설</h5>

												<div class="category-subinfo">
													소설,인문,경제경영,자기계발,에세이,과학,사회,역사 등</div>

											</div>
											<div class="category-img">
												<img alt="categoryimg" src="/images/categorytestimg2.JPG"
													style="width: 100%">
											</div>
										</div>
									</div>





								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</html>