<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<!-- subCategory 페이지 CSS -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/subCategory.css" />
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-12 section-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<div class="top-title">
									<h4>(임시)소설</h4>
									<hr>
								</div>

								<div class="row">

									<div class="row-md-6 subCategory">
										<div class="container subCategory-box">
											<div class="row">
												<div class="row-md-" style="width: 30%; margin: 0;">
													<img alt="이미지" src="/images/categorytestimg1.JPG"
														style="width: 100%;" class="subcategoryimg">
												</div>
												<div class="row-md- subCategory-2"
													style="width: 40%; margin: 0;">
													<h3 class="subCategory-book-name">미생물 전쟁</h3>
													<p class="subCategory-book-actor">아일사 와일드</p>
													<p class="subCategory-book-comp">출판사: 반니</p>
													<p class="subCategory-book-page">총 페이지: 300p</p>
												</div>
												<div class="row-md- subCategory-3" style="">
													<button class="heartbtn">찜하기</button>
												</div>
											</div>
										</div>
									</div>

									<div class="row-md-6 subCategory">
										<div class="container subCategory-box">
											<div class="row">
												<div class="row-md-" style="width: 30%; margin: 0;">
													<img alt="이미지" src="/images/categorytestimg1.JPG"
														style="width: 100%;" class="subcategoryimg">
												</div>
												<div class="row-md- subCategory-2"
													style="width: 40%; margin: 0;">
													<h3 class="subCategory-book-name">미생물 전쟁</h3>
													<p class="subCategory-book-actor">아일사 와일드</p>
													<p class="subCategory-book-comp">출판사: 반니</p>
													<p class="subCategory-book-page">총 페이지: 300p</p>
												</div>
												<div class="row-md- subCategory-3" style="">
													<button class="heartbtn">찜하기</button>
												</div>
											</div>
										</div>
									</div>

									<div class="row-md-6 subCategory">
										<div class="container subCategory-box">
											<div class="row">
												<div class="row-md-" style="width: 30%; margin: 0;">
													<img alt="이미지" src="/images/categorytestimg1.JPG"
														style="width: 100%;" class="subcategoryimg">
												</div>
												<div class="row-md- subCategory-2"
													style="width: 40%; margin: 0;">
													<h3 class="subCategory-book-name">미생물 전쟁</h3>
													<p class="subCategory-book-actor">아일사 와일드</p>
													<p class="subCategory-book-comp">출판사: 반니</p>
													<p class="subCategory-book-page">총 페이지: 300p</p>
												</div>
												<div class="row-md- subCategory-3" style="">
													<button class="heartbtn">찜하기</button>
												</div>
											</div>
										</div>
									</div>

									<div class="row-md-6 subCategory">
										<div class="container subCategory-box">
											<div class="row">
												<div class="row-md-" style="width: 30%; margin: 0;">
													<img alt="이미지" src="/images/categorytestimg1.JPG"
														style="width: 100%;" class="subcategoryimg">
												</div>
												<div class="row-md- subCategory-2"
													style="width: 40%; margin: 0;">
													<h3 class="subCategory-book-name">미생물 전쟁</h3>
													<p class="subCategory-book-actor">아일사 와일드</p>
													<p class="subCategory-book-comp">출판사: 반니</p>
													<p class="subCategory-book-page">총 페이지: 300p</p>
												</div>
												<div class="row-md- subCategory-3" style="">
													<button class="heartbtn">찜하기</button>
												</div>
											</div>
										</div>
									</div>




								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<th:block layout:fragment="script">

	<script>
		
	</script>
</th:block>
</html>