<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- main 페이지 CSS -->
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 section-wrap">

					<!-- 공지사항 -->
					<div class="container">

						<nav class="notice-wrap">
							<i class="fa-solid fa-volume-high" style="color: #000000;"></i> <span></span>
						</nav>

					</div>

					<!-- 이미지 슬라이드 -->
					<div class="imgSlide-wrap">
						<!-- 이미지슬라이드1 -->
						<div class="contents-wrap">
							<div class="slide-backgroun">
								<img src="/images/backimg1.jpg" alt="배경이미지">
							</div>
							<div class="slide-contents">
								<div class="img">
									<a> <img src="/images/slideimg1.jpg" alt="이미지슬라이드">
									</a>
								</div>
								<div class="text">
									<p class="hot">HOT</p>
									<h6 class="h6">EZEN북티빙시대 도서추천!</h6>
									<p class="p">에디터가 추천하는</p>
									<p class="p felx-end">이달의 추천</p>
								</div>
							</div>
						</div>

						
						 <!-- 이미지슬라이드2  -->
						<div class="contents-wrap">
							<div class="slide-backgroun">
								<img src="/images/backimg3.jpg" alt="배경이미지">
							</div>
							<div class="slide-contents">
								<div class="img">
									<a> <img src="/images/slideimg3.jpg" alt="이미지슬라이드"> </a>
								</div>
								<div class="text">
									<p class="hot">HOT</p>
									<h6 class="h6">장난꾸러기 푸바오</h6>
									<p class="p">아가 판다 푸바오의</p>
									<p class="p">성장 포토 에세이</p>
								</div>								
							</div>
						</div>

						<!--  이미지슬라이드3  -->
						<div class="contents-wrap">
							<div class="slide-backgroun">
								<img src="/images/backimg2.jpg" alt="배경이미지">
							</div>
							<div class="slide-contents">
								<div class="img">
									<a> <img src="/images/slideimg2.jpg" alt="이미지슬라이드"> </a>
								</div>
								<div class="text">
									<p class="hot">HOT</p>
									<h6 class="h6">희대의 이야기꾼</h6>
									<p class="p">일본 추리소설의 아이콘</p>
									<p class="p">그를 알고 싶다</p>
								</div>								
							</div>
						</div>
						-->

					</div>

					<!-- 즐겨찾기 -->
					<div class="bookMark-wrap container">
						<div class="bookMark">
							<a href="#">
								<div class="booMark-img">
									<i class="fa-solid fa-book-bookmark fa-xl"
										style="color: #000000;"></i>
								</div>
									<p class="bookMark-text">나의서재</p>
							</a>
						</div>
						<div class="bookMark">
							<a href="#">
								<div class="booMark-img">
									<i class="fa-solid fa-heart fa-xl" style="color: #000000;"></i>
								</div>
								<p class="bookMark-text">찜한도서</p>
							</a>
						</div>
						<div class="bookMark">
							<a href="#">
								<div class="booMark-img">
									<i class="fa-solid fa-address-card fa-xl"
										style="color: #000000;"></i>
								</div>
								<p class="bookMark-text">찜한작가</p>
							</a>
						</div>
						<div class="bookMark">
							<a href="#">
								<div class="booMark-img">
									<i class="fa-solid fa-person-circle-plus fa-xl"
										style="color: #000000;"></i>
								</div>
								<p class="bookMark-text">팔로잉</p>
							</a>
						</div>
						<div class="bookMark">
							<a href="#">
								<div class="booMark-img">
									<p class="icron">10</p>
								</div>
								<p class="bookMark-text">Top10</p>
							</a>
						</div>
					</div>

					<!-- 북티빙 Top 10 -->
					<div class="top10-wrap container">
						<h5>북티빙 Top 10</h5>
						<div class="top10-submenu">
							<p><a>일간</a></p><span>|</span>
							<p><a>주간</a></p><span>|</span>
							<p><a>연간</a></p><span>|</span>
							<p><a>주간</a></p>
						</div>
						
						<div class="top10-contents-wrap">

							<div class="top10-contents">
								<div class="position-relatiove">
									<div class="top10-rank">
										<h1 text="">2</h1>
									</div>
									<div class="top10-cover">
										<a> 
											<img src="" alt="도서커버" class="top10-cover-img">
										</a>
									</div>
								</div>

								<div class="row top10-contents-text">
									<div class="top10-title-author">
										<a href="" class="top10-title">제목</a>
										<div class="top10-author">
											<p class="author">저자<span>/</span></p>
											<p class="publisher">출판사</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>

					<!-- NEW 북티빙 -->
					<div class="new-wrap container">
						<div >
							<h5>NEW 북티빙</h5>
						</div>
						
						<div class="row new-box-wrap container ">
							<th:block th:each="newBook, status : ${randomNewBooks}">
								<div class="new-box col-md-6 mb-4">
									<div class="new-book-text col-7">
										<h4 th:text="${newBook.title}" class="new-book-title"></h4>
										<div class="new-book-author-publishrer">
											<p th:text="${newBook.author}" class="new-book-author col-4"></p>
											<span class="col-1">/</span>
											<p th:text="${newBook.publisher}" class="new-book-publisher col-7"></p>
										</div>
										<p class="description" th:text="${newBook.description}"></p>
									</div>
									<div class="new-book-cover col-5">
										<img alt="${newBook.title}" th:src="${newBook.imgUrl}">
									</div>
								</div>
							</th:block>							
						</div>						
					</div>

					<!-- 북티빙이 사랑한 작가 -->
					<div class="author-wrap">
						<div class="container author">
							<h5>북티빙이 사랑한 작가</h5>
							
							<div class="author-contents-wrap">
								<div class="author-contents">
									<a class="author-cover">
										<img alt="작가이미지" src="">
									</a>
								</div>
								<div class="row author-contents-text">
									<div class="author-text">
										<p class="author-name">작가 이름 자리</p>
										<p class="sub-title">부제목 자리</p>
									</div>								
								</div>
							</div>

						</div>
					</div>

					<!-- 서점 베스트 셀러 -->
					<div class="bestSeller-wrap container-fluid">

						<div class="container bestSeller-title-box">
							<div class="bestSeller-top-title">
								<h5>서점 베스트 셀러</h5>
								<div class="aladin-logo">
									<img alt="알리딘 로고" src="/images/aladin-logo.png">
									<p class="standard">기준</p>
								</div>
							</div>
							<div class="bestSeller-more">
								<p class="more-text">알라딘에서 더보기 &nbsp;</p>
								<p class="more">
									<a href="https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1">more</a>
								</p> 
							</div>
						</div>


						<div class="bestSeller-contents-wrap">

							<th:block th:each="bestSeller, status : ${bestSellers}">
								<div class="bestSeller-contents">
									<a th:href="${bestSeller.link}" class="bestSeller-cover">
										<img th:src="${bestSeller.imgUrl}" th:alt="${bestSeller.title}" class="bestSeller-cover-img">
									</a>

									<div class="row bestSeller-contents-text">
										<div class="bestSeller-rank">
											<h2 v></h2>
										</div>
										<div class="bestSeller-title-author">
											<div>
												<a th:href="${bestSeller.link}" class="bestSeller-title">
													[[${bestSeller.title}]] </a>
												<div class="bestSeller-author">
													<p class="author">[[${bestSeller.author}]]</p>
													<p class="publisher">[[${bestSeller.publisher}]]</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

</div>


<!-- main 페이지 javaScript -->
<th:block layout:fragment="script">
</th:block>

</html>