<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- main 페이지 CSS -->
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</th:block>

<div layout:fragment="content">

	<div class="top">
		<div class="container-fluid">
			<div class="row">
				<div class="section-wrap">

					<!-- 공지사항 -->
					<div class="container notice-wrap" th:if="${not #lists.isEmpty(notices)}">

						<nav class="notice-box"
							 th:each="notice, status : ${notices}">
							<a href="/notice" >
								<i class="fa-solid fa-volume-high" style="color: #000000;"></i> &nbsp;&nbsp;
								[<span th:text="${notice.noticeGroup.krName}"></span>]
								<span th:text="${notice.title}"></span>
							</a>
						</nav>

					</div>

					<!-- 최종적으로 페이지 링크 걸어주기 -->
					<!-- 이미지 슬라이드 -->
					<div class="imgSlide-wrap imgslide container-fluid">
					
						<div class="slidelist swiper">
						
							<div class="slide-ul swiper-wrapper">
								<!-- 이미지슬라이드1 -->
								<div class="contents-wrap slide-li swiper-slide">
									<a href="/book/bookDetail/9791198243447">
										<div class="slide-backgroun">
											<img src="/images/main/backimg1.jpg" alt="배경이미지">
										</div>
										<div class="container slide-contents-wrap">
											<div class="slide-content">
												<div class="img">
													<img src="/images/main/slideimg1.jpg" alt="이미지슬라이드">
												</div>
												<div class="text">
													<p class="hot">HOT</p>
													<h6 class="h6">EZEN북티빙시대 도서추천!</h6>
													<p class="p">에디터가 추천하는</p>
													<p class="p felx-end">이달의 추천</p>
												</div>
											</div>
										</div>
									</a>
								</div>
		
								
								 <!-- 이미지슬라이드2  -->
								<div class="contents-wrap slide-li">
									<a href="/book/bookDetail/9791165796396">
										<div class="slide-backgroun">
											<img src="/images/main/backimg3.jpg" alt="배경이미지">
										</div>
										<div class="container slide-contents-wrap">
											<div class="slide-content">
												<div class="img">
													<img src="/images/main/slideimg3.jpg" alt="이미지슬라이드">
												</div>
												<div class="text">
													<p class="hot">HOT</p>
													<h6 class="h6">장난꾸러기 푸바오</h6>
													<p class="p">아가 판다 푸바오의</p>
													<p class="p">성장 포토 에세이</p>
												</div>
											</div>								
										</div>
									</a>
								</div>
		
								<!--  이미지슬라이드3  -->
								<div class="contents-wrap slide-li">
									<a href="/author/detail/7">
										<div class="slide-backgroun">
											<img src="/images/main/backimg2.jpg" alt="배경이미지">
										</div>
										<div class="container slide-contents-wrap">
											<div class="slide-content">
												<div class="img">
													<img src="/images/main/slideimg2.jpg" alt="이미지슬라이드">
												</div>
												<div class="text">
													<p class="hot">HOT</p>
													<h6 class="h6">희대의 이야기꾼</h6>
													<p class="p">일본 추리소설의 아이콘</p>
													<p class="p">그를 알고 싶다</p>
												</div>
											</div>								
										</div>
									</a>
								</div>
							</div>
							
							<div class="swiper-button-prev"></div>
  							<div class="swiper-button-next"></div>
							
						</div>
					</div>

					<!-- 즐겨찾기 -->
					<div class="bookMark-wrap container">
						<div class="bookMark">
							<a href="/mylibrary">
								<div class="booMark-img">
									<i class="fa-solid fa-book-bookmark fa-xl"
										style="color: #000000;"></i>
								</div>
									<p class="bookMark-text">나의서재</p>
							</a>
						</div>
						
						<div class="bookMark">
							<a href="/search/main" >
								<div class="booMark-img bookMark-search-img">
									<img src="/images/search.png" alt="검색" />
								</div>
								<p class="bookMark-text">도서검색</p>
							</a>
						</div>

							<a href="#">
								<div class="booMark-img">
									<p class="icron">10</p>
								</div>
								<p class="bookMark-text">Top10</p>
							</a>
						</div>
					</div>

					<!-- 북티빙 Top 10 -->
					<div class="top10-wrap container-fluid" th:if="${not #lists.isEmpty(rentBooks)}">
						<div class="container">
							<h5>북티빙 Top 10</h5>
						</div>
						
						<div class="top10-contents-wrap container" >	
							<ul class="tabmenu">
									
								<!-- 일간 -->
								<li th:if="${not #lists.isEmpty(dayRanks)}" th:classappend="${not #lists.isEmpty(dayRanks)} ? 'active' : ''"> <a href="#">일간&nbsp;&nbsp;&nbsp;&nbsp;<span>|</span></a>
									<div class="rank-list day-box">
										<th:block th:each="dayRank, status : ${dayRanks}">
											<div class="dayRank">
												<div class="top10-contents">
													<div class="top10-rank">
														<a th:href="'/book/bookDetail/' + ${dayRank.isbn}">
															<h1> [[${dayRank.num}]] </h1>
														</a>
													</div>
													<div class="top10-cover">
														<a th:href="'/book/bookDetail/' + ${dayRank.isbn}">
															<img th:src="${dayRank.imgUrl}" th:alt="${dayRank.bookName}" class="top10-cover-img">
														</a>
													</div>
												</div>
								
												<div class="row top10-contents-text">
													<div class="top10-title-author">
														<p class="top10-title">[[${dayRank.bookName}]]</p>
														<div class="top10-author">
															<p class="author">[[${dayRank.author}]] <span>&nbsp;/&nbsp;</span></p>
															<p class="publisher">[[${dayRank.publisher}]]</p>
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div>
								</li>
									
								<!-- 주간 -->
								<li  th:if="${not #lists.isEmpty(weekRanks)}" th:classappend="${not #lists.isEmpty(weekRanks)} ? 'active' : ''"> <a href="#">주간&nbsp;&nbsp;&nbsp;&nbsp;<span>|</span></a>
									<div class="rank-list week-box">
										<th:block th:each="weekRank, status : ${weekRanks}">
											<div class="weekRank">
												<div class="top10-contents">
													<div class="top10-rank">
														<a th:href="'/book/bookDetail/' + ${weekRank.isbn}">
															<h1>[[${weekRank.num}]]</h1>
														</a>
													</div>
													<div class="top10-cover">
														<a th:href="'/book/bookDetail/' + ${weekRank.isbn}">
															<img th:src="${weekRank.imgUrl}" th:alt="${weekRank.bookName}" class="top10-cover-img">
														</a>
													</div>
												</div>
								
												<div class="row top10-contents-text">
													<div class="top10-title-author">
														<p class="top10-title">[[${weekRank.bookName}]]</p>
														<div class="top10-author">
															<p class="author">[[${weekRank.author}]] <span>&nbsp;/&nbsp;</span></p>
															<p class="publisher">[[${weekRank.publisher}]]</p>
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div>
								</li>
									
								<!-- 월간 -->
								<li th:if="${not #lists.isEmpty(monthRanks)}" th:classappend="${not #lists.isEmpty(monthRanks)} ? 'active' : ''"> <a href="#">월간&nbsp;&nbsp;&nbsp;&nbsp;<span>|</span></a>
									<div class="rank-list month-box">
										<th:block th:each="monthRank, status : ${monthRanks}">
											<div class="monthRank">
												<div class="top10-contents">
													<div class="top10-rank">
														<a th:href="'/book/bookDetail/' + ${monthRank.isbn}">
															<h1>[[${monthRank.num}]]</h1>
														</a>
													</div>
													<div class="top10-cover">
														<a th:href="'/book/bookDetail/' + ${monthRank.isbn}">
															<img th:src="${monthRank.imgUrl}" th:alt="${monthRank.bookName}" class="top10-cover-img">
														</a>
													</div>
												</div>
								
												<div class="row top10-contents-text">
													<div class="top10-title-author">
														<p class="top10-title">[[${monthRank.bookName}]]</p>
														<div class="top10-author">
															<p class="author">[[${monthRank.author}]] <span>&nbsp;/&nbsp;</span></p>
															<p class="publisher">[[${monthRank.publisher}]]</p>
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div>
								</li>
								
								<!-- 연간 -->
								<li th:if="${not #lists.isEmpty(yearRanks)}" th:classappend="${not #lists.isEmpty(yearRanks)} ? 'active' : ''"> <a href="#">연간&nbsp;&nbsp;</a> 
									<div class="rank-list year-box">
										<th:block th:each="yearRank, status : ${yearRanks}">
											<div class="yearRank">
												<div class="top10-contents">
													<div class="top10-rank">
														<a th:href="'/book/bookDetail/' + ${yearRank.isbn}">
															<h1>[[${yearRank.num}]]</h1>
														</a>
													</div>
													<div class="top10-cover">
														<a th:href="'/book/bookDetail/' + ${yearRank.isbn}">
															<img th:src="${yearRank.imgUrl}" th:alt="${yearRank.bookName}" class="top10-cover-img">
														</a>
													</div>
												</div>
									
												<div class="row top10-contents-text">
													<div class="top10-title-author">
														<p class="top10-title">[[${yearRank.bookName}]]</p>
														<div class="top10-author">
															<p class="author">[[${yearRank.author}]] <span>&nbsp;/&nbsp;</span></p>
															<p class="publisher">[[${yearRank.publisher}]]</p>
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<!-- NEW 북티빙 -->
					<div class="new-wrap container">
						<div>
							<h5>NEW 북티빙</h5>
						</div>
						
						<div class="row new-box-wrap">
							
							<th:block th:each="newBook, status : ${newBooks}">
								<div class="new-box col-md-6 mb-4">
									<a th:href="'/book/bookDetail/' + ${newBook.isbn}"> 
										<div class="new-box-flex">
											<div class="new-book-text">
												<h4 class="new-book-title">[[${newBook.title}]]</h4>
												<div class="new-book-author-publishrer">
													<p class="new-book-author">[[${newBook.author}]]/[[${newBook.publisher}]]</p>
												</div>
												<p class="description" th:utext="${newBook.description}"></p>
											</div>
											<div class="new-book-cover">
												<img alt="${newBook.title}" th:src="${newBook.imgUrl}">
											</div>
										</div>
									</a>
								</div>
							</th:block>
								
						</div>						
					</div>

					<!-- 북티빙이 사랑한 작가 -->
					<div class="author-wrap">
						<div class="container author">
							<a href="/author/list">
								<h5>북티빙이 사랑한 작가 <span class="author-more">more</span></h5>
							</a>
							
							<div class="author-contents-wrap">

								<th:block th:each="author, status : ${authors}">	
									<div class="authors col-md-3">
										<div class="author-contents-box">
											<div class="author-contents col-12">
												<a th:href="'/author/detail/' + ${author.id}" class="author-cover">
													<img th:alt="${author.authorNameKo}" th:src="${author.imgUrl}">
												</a>
											</div>
											<div class="row author-contents-text">
												<div class="author-text">
													<p th:text="${author.authorNameKo}" class="author-name author-name-ko"></p>
													<p th:text="${author.authorNameEg}" class="author-name author-name-eg"></p>
													<p th:utext="${author.title}" class="sub-title"></p>
												</div>								
											</div>											
										</div>
									</div>
								</th:block>
							</div>

						</div>
					</div>

					<!-- 서점 베스트 셀러 -->
					<div class="bestSeller-wrap container-fluid">

						<div class="container bestSeller-title-box">
							<div class="bestSeller-top-title">
								<h5>서점 베스트 셀러</h5>
								<div class="aladin-logo">
									<img alt="알리딘 로고" src="/images/main/aladin-logo.png">
									<p class="standard">기준</p>
								</div>
							</div>
							<div class="bestSeller-more">
								<p class="more-text">알라딘에서 더보기 &nbsp;</p>
								<p class="more">
									<a href="https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1">more</a>
								</p> 
							</div>
						</div>


						<div class="bestSeller-contents-wrap">
							<th:block th:each="bestSeller, status : ${bestSellers}">
								<div class="bestSeller-contents">
									<a th:href="${bestSeller.link}" class="bestSeller-cover">
										<img th:src="${bestSeller.imgUrl}" th:alt="${bestSeller.title}" class="bestSeller-cover-img">
									</a>

									<div class="row bestSeller-contents-text">
										<div class="bestSeller-rank">
											<h2 th:text="${bestSeller.bestRank}"></h2>
										</div>
										<div class="bestSeller-title-author">
											<div>
												<a th:href="${bestSeller.link}" class="bestSeller-title">
													[[${bestSeller.title}]] </a>
												<div class="bestSeller-author">
													<p class="author">[[${bestSeller.author}]]/[[${bestSeller.publisher}]]</p>
													<!-- <p class="publisher">[[${bestSeller.publisher}]]</p> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

</div>


<!-- main 페이지 javaScript -->
<th:block layout:fragment="script">
	
	<script>
		
		$(document).ready(function(){
			
			//공지사항 슬라이드
			const noticeBoxs = $('.notice-box');
			let currentIndex = 0;
			
			function showNotice(index){
				noticeBoxs.removeClass('active');
				noticeBoxs.eq(index).addClass('active');
			}
			
			function changeNotice(){
				currentIndex = (currentIndex + 1) % noticeBoxs.length;
				showNotice(currentIndex);
			}
			
			showNotice(currentIndex);
			setInterval(changeNotice, 4000);
			
			
			
			//이미지슬라이드
			setInterval(function(){
				
				$('.slidelist').delay(5000);
				$('.slidelist').animate({marginLeft : "-100%"});
				$('.slidelist').delay(5000);
				$('.slidelist').animate({marginLeft : "-200%"});
				$('.slidelist').delay(5000);
				$('.slidelist').animate({marginLeft : 0});
				$('.slidelist').delay(1000);
				
			},5000);
			
		
			//북티빙 Top10		
			$(function(){				
				$('.tabmenu>li>a').click(function(){
					$(this).parent().addClass("active").siblings().removeClass("active");
					return false;				
				});
			});
		
		});
		
		
		
		
	</script>
	
</th:block>

</html>