<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	
</th:block>

<div layout:fragment="content">
<div class="join">
		<div class="SignUp__wrap">
			<div class="SignUp__section">
				<div class="SignUp__mobile-hidden">
					<div class="SignUp__section-title" th:if="${#strings.equals(loginFormDto.password, 'SNS 로그인')}">간편 가입</div>
					<div class="SignUp__section-title" th:unless="${#strings.equals(loginFormDto.password, 'SNS 로그인')}">회원 가입</div>
				</div>
				
				<form role="form" action="/login/join" method="post" th:object="${loginFormDto}" name="joinForm">
					<div class="SignUp__section-content-padding">
					<ul class="SignUp__section-content-inputList">
						<li>
							<div class="ProductView__inputComponent">
								<div class="ProductView__inputComponent-title-wrap">
									<div class="ProductView__inputComponent-title">이름</div>
								</div>
								
								<div>
									<input type="text" th:field="*{name}" class="Input__normal" placeholder="이름을 입력해주세요." maxlength="10">
								</div>
							</div>
						</li>
						
						<li>
							<div class="ProductView__inputComponent">
								<div class="ProductView__inputComponent-title-wrap">
									<div class="ProductView__inputComponent-title">닉네임</div>
								</div>
								
								<div>
									<input type="text" th:field="*{nickname}" class="Input__normal" placeholder="미입력시 이름으로 설정됩니다." maxlength="10">
								</div>
							</div>
						</li>
					
						<li>
							<div class="ProductView__inputComponent">
								<div class="ProductView__inputComponent-title-wrap">
									<div class="ProductView__inputComponent-title">이메일</div>
								</div>
								
								<div>
									<div class="Input__action">
										<input type="email" th:field="*{email}" class="Input__normal" placeholder="이메일을 입력해주세요" id="emailInput" oninput="validateEmail()">						
									</div>
									<p id="emailError" class="errorInput" style="color: red;"></p>
								</div>
							
							</div>
						</li>
						
						<input th:if="${#strings.equals(loginFormDto.password, 'SNS 로그인')}" type="hidden" th:field="*{password}">
						
						<li th:unless="${#strings.equals(loginFormDto.password, 'SNS 로그인')}">
							<div class="ProductView__inputComponent">
								<div class="ProductView__inputComponent-title-wrap">
									<div class="ProductView__inputComponent-title">비밀번호</div>
								</div>
								
								<div>
									<input type="password" th:field="*{password}" class="Input__normal" placeholder="특수문자 / 문자 / 숫자 포함 형태의 8~15자리" maxlength="15" autocomplete="off" id="passwordInput" oninput="validatePassword()">
								</div>
								<p id="passwordError" class="errorInput" style="color: red;"></p>
							</div>
						</li>
						
						<li th:unless="${#strings.equals(loginFormDto.password, 'SNS 로그인')}">
							<div class="ProductView__inputComponent">
								<div class="ProductView__inputComponent-title-wrap">
									<div class="ProductView__inputComponent-title">비밀번호 확인</div>
								</div>
							
							<div>
								<input type="password" id="check_pw" name="check_pw" class="Input__normal" placeholder="비밀번호 확인" maxlength="15" autocomplete="off" oninput="validatePasswordMatch()">
							</div>
							<p id="passwordMatchMessage" class="errorInput"></p>
						</div>
						</li>
						
						<li>
							<div class="asd mb-3">
	              
								<div class="ProductView__inputComponent-title-wrap">
									<div class="ProductView__inputComponent-title">생년월일</div>
								</div>
								
				            <div class="g3">
				              	<div>
				                	<select class="form-select col-sm-4 month" aria-label="Default select example" name="year">
					                    <option selected disabled>년</option>
					                    <th:block th:each="num : ${#numbers.sequence(T(java.time.LocalDate).now().getYear() - 60, T(java.time.LocalDate).now().getYear() - 5)}">
											<option th:value="${num}" th:text="${num}"></option>
										</th:block>
				                	</select>
				                </div>
				
				                <div>
				                	<select class="form-select col-sm-4 month" aria-label="Default select example" id="month">
					                    <option selected disabled>월</option>
					                    <th:block th:each="num : ${#numbers.sequence(1,12)}">
											<option th:value="${num}" th:text="${num}"></option>
										</th:block>
				                	</select>
				                </div>
				
				                <div>
				                 	<select class="form-select col-sm-4 month" aria-label="Default select example" id="day">
					                    <option selected disabled>일</option>
					                    <th:block th:each="num : ${#numbers.sequence(1,31)}">
											<option th:value="${num}" th:text="${num}"></option>											
										</th:block>
				                  </select>
				                </div>
				            </div>
							</div>
						</li>
									
						<li>
							<div class="ProductView__inputComponent">
								<div class="ProductView__inputComponent-title-wrap">
									<div class="ProductView__inputComponent-title">휴대전화</div>
								</div>
								
								<div>
									<input type="tel" th:field="*{phone}" name="phone" class="Input__normal" placeholder="'-'를 제외한 전화번호를 입력하세요." maxlength="13" id="phoneInput" oninput="replacePhone(this)">
								</div>
								<p id="phoneError" class="errorInput" style="color: red;"></p>
							</div>
						</li>
					
						<li>
							<button type="button" onclick="joinAllSubmit()" class="register" th:unless="${#strings.equals(loginFormDto.password, 'SNS 로그인')}">가입하기</button>
							<button type="button" onclick="joinSNSSubmit()" class="register" th:if="${#strings.equals(loginFormDto.password, 'SNS 로그인')}">가입하기</button>
						</li>
					</ul>
						
					</div>
					<input type="hidden" th:field="*{birth}" class="birth" name="birth">
					<input type="hidden" th:field="*{provider}" name="provider">
					<input type="hidden" th:field="*{providerId}" name="providerId">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</form>
			</div>
		</div>
	</div>
</div>


<th:block layout:fragment="script">
	<script th:inline="javascript">
		// 이미 가입된 이메일 에러
		var errorMessage = [[${errorMessage}]];
		if(errorMessage != null){
			alert(errorMessage);
		} 
		
		const icon = document.getElementById("icon");
		const svgList = [
		    `<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
		      <rect x="0.5" y="0.5" width="23" height="23" rx="2.5" fill="#fff"></rect>
		      <rect x="0.5" y="0.5" width="23" height="23" rx="2.5" stroke="#D0D1D3"></rect>
		    </svg>`,
		    `<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
		      <rect width="24" height="24" rx="3" fill="#29a5ff"></rect>
		      <path d="m5.407 11.562 4.592 5.6 6.35-7.219 2.227-2.53" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
		    </svg>`
		  ];
	
		  let currentIndex = 0;
	
		  icon.addEventListener("click", () => {
		    currentIndex = (currentIndex + 1) % svgList.length;
		    icon.innerHTML = svgList[currentIndex];
		  });

		// SNS 회원가입 
		function joinSNSSubmit(){
			const f = document.joinForm;
			
			let year = f.year.value;
			let month = f.month.value;
			let day = f.day.value;
			let birth;
			
			// 이름 확인
			if(!f.name.value){
				alert('이름을 입력해주세요.');
				f.name.focus();
				return;
			}
			
			// 이메일 확인
			if(!f.email.value){
				alert('이메일을 입력해주세요.');
				f.email.focus();
				return;
			}else if(!validateEmail()){
				alert('이메일 형식으로 입력해주세요.');
				f.email.focus();
				return;
			}
			
			// 전화번호
			if(!f.phone.value){
				alert('전화번호를 입력해주세요.');
				f.phone.focus();
				return;
			}else if(!validatePhone()){
				alert('올바른 전화번호를 입력해주세요.');
				f.phone.focus();
				return;
			}
			
			// 생년월일
			if(year == '년'){
				alert('년도를 선택해주세요');
				return;
			}else if(month == '월'){
				alert('월을 선택해주세요');
				return;
			}else if(day == '일'){
				alert('일을 선택해주세요');
				return;
			}
		
			if(month.length < 2){
				month = 0 + month;
			}
			
			if(day.length < 2){
				day = 0 + day;
			}
		
			birth = year.substr(2) + '.' + month + '.' + day;				
			$('input[name=birth]').attr('value',birth);
			
			f.submit();
		}
		
		// 일반 회원 가입
		function joinAllSubmit(){
			const f = document.joinForm;
			
			let year = f.year.value;
			let month = f.month.value;
			let day = f.day.value;
			let birth;
			
			// 이름 확인
			if(!f.name.value){
				alert('이름을 입력해주세요.');
				f.name.focus();
				return;
			}
			
			// 이메일 확인
			if(!f.email.value){
				alert('이메일을 입력해주세요.');
				f.email.focus();
				return;
			}else if(!validateEmail()){
				alert('이메일 형식으로 입력해주세요.');
				f.email.focus();
				return;
			}
			
			// 비밀번호 확인
			if(!f.password.value){
				alert('비밀번호를 입력해주세요.');
				f.password.focus();
				return;
			}else if(!validatePassword()){
				alert('비밀번호는 특수문자, 문자, 숫자를 포함한 8~15자리여야 합니다.');
				f.password.focus();
				return;
			}
			
			// 비밀번호 매치 확인
			if(!f.check_pw.value){
				alert('비밀번호 확인란을 입력해주세요.');
				f.check_pw.focus();
				return;
			}else if(!validatePasswordMatch()){
				alert('비밀번호 확인란과 비밀번호가 일치하지않습니다.');
				f.check_pw.focus();
				return;
			}
			
			// 전화번호
			if(!f.phone.value){
				alert('전화번호를 입력해주세요.');
				f.phone.focus();
				return;
			}else if(!validatePhone()){
				alert('올바른 전화번호를 입력해주세요.');
				f.phone.focus();
				return;
			}
			
			// 생년월일
			if(year == '년'){
				alert('년도를 선택해주세요');
				return;
			}else if(month == '월'){
				alert('월을 선택해주세요');
				return;
			}else if(day == '일'){
				alert('일을 선택해주세요');
				return;
			}
		
			if(month.length < 2){
				month = 0 + month;
			}
			
			if(day.length < 2){
				day = 0 + day;
			}
		
			birth = year.substr(2) + '.' + month + '.' + day;				
			$('input[name=birth]').attr('value',birth);
			
			f.submit();
		}
		
		// 이메일 정규식 확인
		function validateEmail() {
	        const emailInput = document.getElementById("emailInput");
	        const emailError = document.getElementById("emailError");
	        const emailValue = emailInput.value;
	        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

	        if (!emailPattern.test(emailValue)) {
	            emailInput.style.border = "1px solid red";
	            emailError.textContent = "이메일 형식으로 입력해주세요.";
	            return false;
	        } else {
	            emailInput.style.border = "1px solid #ccc";
	            emailError.textContent = "";
	            return true;
	        }
	    }
		
		// 비밀번호 정규식 확인
		function validatePassword() {
	        const passwordInput = document.getElementById("passwordInput");
	        const passwordError = document.getElementById("passwordError");
	        const passwordValue = passwordInput.value;
	        const passwordPattern = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$/;
	
	        if (!passwordPattern.test(passwordValue)) {
	            passwordInput.style.border = "1px solid red";
	            passwordError.textContent = "특수문자, 문자, 숫자를 포함한 8~15자리여야 합니다.";
	            return false;
	        } else {
	            passwordInput.style.border = "1px solid #ccc";
	            passwordError.textContent = "";
	            return true;
	        }
	    }
		
		// 비밀번호 확인
		function validatePasswordMatch() {
	        const passwordInput = document.getElementById("passwordInput");
	        const confirmPasswordInput = document.getElementById("check_pw");
	        const passwordMatchMessage = document.getElementById("passwordMatchMessage");
	
	        const passwordValue = passwordInput.value;
	        const confirmPasswordValue = confirmPasswordInput.value;
			
	        if (passwordValue !== confirmPasswordValue) {
	            confirmPasswordInput.style.border = "1px solid red";
	            passwordMatchMessage.textContent = "비밀번호가 일치하지 않습니다.";
	            passwordMatchMessage.style.color = "red";
	            return false;
	        } else {
	        	confirmPasswordInput.style.border = "none";
	            passwordMatchMessage.textContent = "비밀번호가 일치합니다.";
	            passwordMatchMessage.style.color = "green";
	            return true;
	        }
	    }
		
		// 전화번호 확인
		function replacePhone(obj) {
		    obj.value = obj.value.replace(/[^0-9]/g, '').replace(/^(\d{3})(\d{4})(\d{4})$/, `$1-$2-$3`);
		    validatePhone();
		}
		
		function validatePhone() {
		    const phoneInput = document.getElementById("phoneInput");
		    const phoneError = document.getElementById("phoneError");
		    const phonePattern = /^\d{3}-\d{4}-\d{4}$/; 
		    const phoneValue = phoneInput.value;
		
		    if (!phonePattern.test(phoneValue)) {
		        phoneInput.style.border = "1px solid red";
		        phoneError.textContent = "올바른 전화번호를 입력해주세요.";
		        return false;
		    } else {
		        phoneInput.style.border = "1px solid #ccc";
		        phoneError.textContent = "";
		        return true;
		    }
		}
	</script>
</th:block>
</html>