<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/login.css" />
	<style>
</style>
</th:block>
<div layout:fragment="content">
	<!-- <div>
		<img class="backgroung-img" src="/images/login.jpg">
	</div> -->
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/members/login"
					method="post">
					<span class="login100-form-title p-b-26"> 환영합니다 </span> <span
						class="login100-form-title p-b-48"> <i
						class="zmdi zmdi-font"></i>
					</span>
					<div class="wrap-input100 validate-input"
						data-validate="Valid email is: a@b.c">
						<span class="focus-input100" data-placeholder="Id"></span> <input
							class="input100" type="text" name="Id">
					</div>
					<div class="wrap-input100 validate-input"
						data-validate="Enter password">
						<span class="btn-show-pass"> </span> <input class="input100"
							type="password" id="password"> <span
							class="focus-input100" data-placeholder="Password"></span>
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">Login</button>
						</div>
						<label style="padding-right: 300px; padding-top: 10px"><input
							type="checkbox" name="id_save" id="id_save" />ID 기억</label>


					</div>
					<div class="text-center p-t-115">
						<span class="txt1"> 회원이 아니세요? </span> <a class="txt2"
							href="/login/new"> 회원가입 </a>

					</div>
					<div class="findId">
						<button>
							<a href="/findId" style="color: black;">ID찾기</a>
						</button>
						<button>
							<a href="/findId" style="color: black;">PW찾기</a>
						</button>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">

				</form>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		/* $(document).ready(function() {
		var userInputId = getCookie("userInputId"); //쿠키값(이메일주소)을 가져온다.
		var setCookieYN = getCookie("setCookieYN"); //쿠키값(이메일 저장 여부)을 가져온다.

		if (setCookieYN == 'Y') { //이메일 저장 여부가y면
			$("#id_save").prop("checked", true); //이메일 저장 체크박스를 체크한다.
			$("#id").val(userInputId); //이메일 input창에는 쿠키에서 가져온 이메일 주소를 넣는다.

		} else {
			$("#id_save").prop("checked", false);
		}

		//로그인 버튼 클릭시 쿠키에 이메일 저장 여부, 이메일 저장
		$('#login100-form-btn').click(function() {
			if ($("#id_save").is(":checked")) {
				var userInputId = $("#id").val();
				setCookie("userInputId", userInputId, 60);
				setCookie("setCookieYN", "Y", 60);
			} else {
				deleteCookie("userInputId");
				deleteCookie("setCookieYN");
			}
		});
		}); 
		var loginErrorMsg = [[${loginErrorMsg}]] null;
		if (loginErrorMsg != null) {
		alert(loginErrorMsg);
		};  

		/*window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');  */
	</script>

</th:block>
</html>