<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/login.css" />
	<style>
</style>
</th:block>
<div layout:fragment="content">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/login"
					method="post">
					<span class="login100-form-title p-b-26"> 환영합니다 </span> <span
						class="login100-form-title p-b-48"> <i
						class="zmdi zmdi-font"></i>
					</span>
					<div class="wrap-input100 validate-input">
						<label th:for="userid" class="focus-input100"></label> <input
							class="input100" type="text" id="userId" name="userId"
							placeholder="ID">
					</div>
					<div class="wrap-input100 validate-input"
						data-validate="Enter password">
						<label th:for="password" class="btn-show-pass"> </label> <input
							class="input100" type="password" id="password" name="password"
							placeholder="PW">
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit" id="loginbtn">Login</button>
						</div>
						<p th:if="${loginErrorMsg}" class="error"
							th:text="${loginErrorMsg}"></p>
						<div style="display: block; margin-right: 200px">
							<label> <input type="checkbox" name="id_save"
								id="id_save" />ID 기억
							</label> <label for="remember-me"><span> <input
									type="checkbox" name="remember-me"></span> 자동 로그인 </label>
						</div>
					</div>
					<div class="text-center p-t-115" style="padding-top: 50px">
						<span class="txt1"> 회원이 아니세요? </span> <a class="txt2"
							href="/login/new"> 회원가입 </a>

					</div>
					<div class="findId">

						<button>
							<a href="/findid" style="color: black;">ID찾기</a>
						</button>

						<button>
							<a href="/findpw" style="color: black;">PW찾기</a>
						</button>
						
						
						
					</div>
					<div style="text-align: center">

						<a class="sns-icon google" href="/oauth2/authorization/google"><img
							src="/images/btn_google_signin_light_normal_web.png" alt="구글"
							></a> 
							
						<a class="sns-icon kakao"
							href="/oauth2/authorization/kakao"><img
							src="/images/kakao_login_medium_narrow.png" alt="카카오톡"
							></a>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">

				</form>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/cookie.js}"></script>
	<script th:inline="javascript">
		$(document).ready(function() {
			var userInputId = getCookie("userInputId");
			var setCookieYN = getCookie("setCookieYN");
			/*  	var rememberMe = getCookie("remember-me");

				if (rememberMe != null) {
					$("#remember-me").prop("checked", true);
					location.href = "/";
				}
				if ($("#remember-me").is(":unchecked")) {
					deleteCookie("remember-me");
				}  */

			if (setCookieYN === 'Y') {
				$("#id_save").prop("checked", true);
				$("#userId").val(userInputId);
			} else {
				$("#id_save").prop("checked", false);
			}

			$('#loginbtn').click(function() {
				if ($("#id_save").is(":checked")) {
					var userInputId = $("#userId").val();
					setCookie("userInputId", userInputId, 60);
					setCookie("setCookieYN", "Y", 60);
				} else {
					deleteCookie("userInputId");
					deleteCookie("setCookieYN");
				}
			});

		});
		$(document).ready(function() {
			var rememberMe = getCookie("remember-me");

			if (rememberMe != null) {
				$("#remember-me").prop("checked", true);
				location.href = "/";
			}
			if ($("#remember-me").is(":unchecked")) {
				deleteCookie("remember-me");
			}
		});
	</script>

</th:block>
</html>